/*
 * @file
 * Provides the layout styles for two-column with header layout section.
 */

.layout--twocol-header-section > .layout-column-wrap {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-section > .layout__region,
.layout--twocol-section > .layout-column-wrap > .layout__region {
  flex: 0 1 100%;
}

.layout--twocol-header-section > .layout__region--header {
}

@media screen and (min-width: 40em) {
  .layout--twocol-header-section.layout--twocol-section--50-50 > .layout__region--first,
  .layout--twocol-header-section.layout--twocol-section--50-50 > .layout__region--second {
    flex: 0 1 50%;
  }

  .layout--twocol-header-section.layout--twocol-section--33-67 > .layout__region--first,
  .layout--twocol-header-section.layout--twocol-section--67-33 > .layout__region--second {
    flex: 0 1 33%;
  }

  .layout--twocol-header-section.layout--twocol-section--33-67 > .layout__region--second,
  .layout--twocol-header-section.layout--twocol-section--67-33 > .layout__region--first {
    flex: 0 1 67%;
  }

  .layout--twocol-header-section.layout--twocol-section--25-75 > .layout__region--first,
  .layout--twocol-header-section.layout--twocol-section--75-25 > .layout__region--second {
    flex: 0 1 25%;
  }

  .layout--twocol-header-section.layout--twocol-section--25-75 > .layout__region--second,
  .layout--twocol-header-section.layout--twocol-section--75-25 > .layout__region--first {
    flex: 0 1 75%;
  }
}
