.sprowt-ai-prompt-library-prompt-library fieldset.filters-wrap:not(.fieldgroup) {
    padding: 30px;
}

.sprowt-ai-prompt-library-prompt-library fieldset.filters-wrap  .fieldset__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: -15px;
    margin-left: -15px;

}

.sprowt-ai-prompt-library-prompt-library fieldset.filters-wrap:not(.fieldgroup) div.fieldset__wrapper > div.form-item {
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
}

.sprowt-ai-prompt-library-prompt-library fieldset.filters-wrap:not(.fieldgroup) div.fieldset__wrapper > div.form-item.form-type--textfield {
    max-width: 30%;
}
