.button {
    padding: 4px 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.05);
}

.two-column {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.two-column ul,
.two-column ol {
    display: flex;
    flex-wrap: wrap;
}
.two-column ul li,
.two-column ol li {
        flex: 1 1 45%;
        padding-right: 5%;
    }
}
