{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph--id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{attributes.addClass(classes)}}>
    {% block content %}
      {{ content.field_heading }}
      {{ content|without('field_heading') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
