////
/// Typographic styles
/// @group Base
////

// Typography
html {
  font-size: $global-font-size;
  background-color: $color-body;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;

  @include breakpoint($medium) {
    line-height: 1.375;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
%h1,
%h2,
%h3,
%h4,
%h5,
%h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 1rem 0;

  @include breakpoint($medium) {
    margin: 0 0 1.8rem 0;
  }

  @include breakpoint($large) {
    margin: 0 0 2.4rem 0;
  }
}

h1,
%h1,
.h1 {
  font-weight: 800;
}

h2,
h3,
h4,
%h2,
%h3,
%h4,
.h2,
.h3,
.h4 {
  font-weight: 700;
}

h5,
h6,
.h5,
.h6,
%h5,
%h6 {
  font-weight: 600;
}

h1,
.h1,
%h1 {
  font-size: 3.2rem;

  @include breakpoint($medium) {
    font-size: 4rem;
  }
  @include breakpoint($large) {
    font-size: 4.2rem;
  }
}

h2,
.h2,
%h2 {
  font-size: 2.6rem;

  @include breakpoint($medium) {
    font-size: 3rem;
  }
  @include breakpoint($large) {
    font-size: 3.2rem;
  }
}

h3,
.h3,
%h3 {
  font-size: 2.2rem;

  @include breakpoint($medium) {
    font-size: 2.2rem;
  }
  @include breakpoint($large) {
    font-size: 2.4rem;
  }
}

h4,
.h4,
%h4 {
  font-size: 1.8rem;
}

h5,
.h5,
%h5 {
  font-size: 1.6rem;
}

h6,
.h6,
%h6 {
  font-size: 1.6rem;
}

.heading-label {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;

  @include breakpoint($large) {
    margin-bottom: 15px;
  }
}

p,
%p {
  margin: 0 0 20px 0;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
}

blockquote {
  border-color: palette(primary);
}
