footer.page-footer {
  margin-top: auto; // push to bottom
  //padding: $margin 0 ($margin / 2) 0;
  text-align: center;

  .site-logo {
    margin: 0 auto;
  }
}

%footer-menu-items {
  font-size: 1.8rem;
  line-height: 4rem;
}

.region-footer-layout {
  .layout-container-wrap {
    > .layout__region {
      flex: inherit;
      flex-flow: row;
    }
  }
}

.region-footer,
.region-footer-layout [id*='footer-top'] .layout-container-wrap {
  @extend %container;
  @include flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.region-footer,
.region-footer-layout [id*='footer-top'] {
  
  .region-blocks-wrap,
  .layout-container-wrap .layout__region {
    @include flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;

    @include breakpoint($medium) {
      flex-wrap: nowrap;

      > * {
        width: auto;
      }
    }
  }

  .block-footer-logo {
    min-width: 240px;
    margin: 15px auto;
    width: auto;

    @include breakpoint($medium) {
      margin: 15px 0;
    }
  }

  .block-footerheading {
    width: 100%;
  }

  .menu--footer,
  .source-menu--footer {
    width: 100%;

    @include breakpoint($small) {
      width: calc(66.6% - (#{$gutter} / 2));
    }

    @include breakpoint($large) {
      width: calc(80% - (#{$gutter} / 2));
    }
  }

  .block-footercontactinfo {
    width: 100%;

    @include breakpoint($small) {
      width: calc(33.3% - (#{$gutter} / 2));
    }

    @include breakpoint($large) {
      width: calc(20% - (#{$gutter} / 2));
    }
  }

  .block-inline-blockbrands {
    @include breakpoint($max-medium) {
      padding: 10px 20px 0 20px;
    }
  }

  .field--name-field-brands {
    > .field__item {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  nav.menu--main,
  nav.source-menu--main,
  nav.menu--careers-menu {
    display: block;
    margin: 0 auto;

    > ul.menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;

      > li {
        display: inline-block;
        padding: 6px 20px;
        flex: 1 0 100%;

        a {
          padding-top: 6px;
          padding-bottom: 6px;
          color: palette(white);
          font-size: 1.6rem;
          text-decoration: none;
          text-align: right;

          span {
            transition: color $duration;
          }
        }
        .navigation__link-description {
          font-weight: normal;
          font-size: 1.4rem;
        }
      }

      > li.menu-item--expanded {
        list-style: none;
      }

      @include breakpoint($small) {
        flex-wrap: nowrap;
        text-align: initial;

        > li {
          flex: auto;
          padding: 15px 20px;
        }
      }
    }
  }
}

.region-footer-layout #footer-top-b {
  padding: 30px 0 0 0;

  @include breakpoint($max-medium) {

    .block-footer-address {
      width: auto;
      margin: 0 auto;
    }
    
    nav.menu--main,
    nav.source-menu--main {
      > ul.menu {
        > li {
          text-align: center;
        }
      }
    }

    .layout__region--second {
      .block-social-media-footer-links {
        order: -1;
      }
    }
  }

  @include breakpoint($medium) {
    padding: 30px 0 20px 0;
    
    .layout-container-wrap {
      max-width: $container-sm + 100px;
      flex-wrap: nowrap;
      justify-content: space-between;
  
      > .layout__region {
        flex: 0 auto;
        width: auto;
        max-width: inherit;
        margin: 0;
      }
  
      .layout__region--first {
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 30px;
        padding: 0;
      }
  
      .layout__region--second {
        min-width: 75%;
  
        .block {
          padding: 0;
          margin-right: 20px;
  
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .block-footer-logo {
      width: auto;
      min-width: inherit;
      max-width: inherit;
      text-align: left;
    }

    .block-social-media-footer-links {
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }

    nav {
      margin-left: 20px;
      margin-right: 20px;
  
      > ul.menu {
        flex-direction: column;
        text-align: left;
  
        > li {
          padding: 0 20px;
  
          a {
            padding: 2px 0;
            text-align: left;
          }
        }
      }
    }
  }

  .block-footer-address {
    legend {
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 2px solid rgba(palette(white),0.3);
    }
  }
}

.region-footer-layout #footer-top-c {
  padding: 30px 0 0 0;

  .layout-container-wrap {
    max-width: $container-sm + 100px;
  }
  
  .layout__region {
    flex-direction: column;

    .block-footer-logo {
      margin: 0 auto;
    }
  }
}

.block-social-media-footer-links {
  display: flex;
  align-items: center;
  justify-content: center;

  .region-footer & .field--name-field-social-media {
    display: flex;

    & .social-icon {
      padding: 2px 5px;
      text-decoration: none;
    }
  }
}



.region-footer-bottom,
.region-footer-layout [id*='footer-bottom'] .layout-container-wrap {
  @extend %container;
  @include flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 30px 15px 30px;

  @include breakpoint($small) {
    padding-bottom: 15px !important;
  }
}

.region-footer-bottom,
.region-footer-layout [id*='footer-bottom'] {

  .region-blocks-wrap,
  .layout-container-wrap .layout__region {
    @include flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

    > div {
      flex: 1 0 100%;
    }

    @include breakpoint($smedium) {
      flex-wrap: nowrap;
      text-align: initial;

      > div {
        flex: auto;
      }
    }
  }

  .block-copyright {
    @include flexbox;
    align-items: center;
    justify-content: flex-start;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  nav.menu--footer,
  nav.source-menu--footer {
    display: block;
    width: auto;
    margin: 0 auto;

    > ul.menu {
      display: flex;
      justify-content: center;

      @include breakpoint($medium) {
        justify-content: flex-end;
      }

      > li {
        display: inline-block;
        padding: 15px 8px;

        a {
          display: inline-block;
          padding-top: 6px;
          padding-bottom: 6px;
          font-size: 1.6rem;
          text-decoration: none;
          text-align: right;
          white-space: nowrap;
        }

        &::after {
          content: "|";
          display: inline-block;
          margin-left: 10px;
        }

        &:last-child::after {
          content: none;
        }
      }
    }
  }

  .block-footer-address,
  .block-views-blockareas-serviced-block-footer-addresses {
    article.node--type-branch {
      .node__content {
        margin: 0 auto;
      }
    }
  }
}

//Career Footer
.region-footer-layout .block-footer-layout-careers [id*='footer-bottom'] {
  .block-footer-address {
    padding-top: 0;
    padding-bottom: 0;
  }

  nav.menu--footer {
    display: flex;
    align-items: center;
  }
}

.region-footer-layout #footer-bottom-b {
  padding: 10px 0;
}
