.body-with-sidebar {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 45px;

  @include breakpoint($large) {
    flex-wrap: nowrap;
  }

  > .layout-body {
    flex: 1;
  }
}

aside.layout-sidebar {
  width: 100%;

  @include breakpoint($large) {
    width: 330px;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;

    @include breakpoint($large) {
      margin-bottom: 30px;
    }
  }

  @include breakpoint($large) {
    margin-left: $gutter * 1.5;
  }

  @include breakpoint($xlarge) {
    margin-left: $gutter * 2.5;
  }
}
