.result-result.fieldset {
  color: white; }

.form-type--boolean .form-checkbox.form-boolean {
  float: none;
  left: -2px; }

.form-type--boolean .form-item__label {
  top: 2px; }

#edit-concerns > * {
  max-width: 290px; }

@media screen and (min-width: 720px) {
  #edit-concerns {
    -moz-columns: 2 300px;
         columns: 2 300px; } }

@media screen and (min-width: 950px) {
  #edit-concerns {
    -moz-columns: 3 300px;
         columns: 3 300px; } }

@media screen and (min-width: 1250px) {
  #edit-concerns {
    -moz-columns: 4 300px;
         columns: 4 300px; } }

@media screen and (min-width: 1550px) {
  #edit-concerns {
    -moz-columns: 5 300px;
         columns: 5 300px; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRlc3QuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsWUFBWSxFQUFFOztBQUVoQjtFQUNFLFdBQVc7RUFDWCxVQUFVLEVBQUU7O0FBRWQ7RUFDRSxRQUFRLEVBQUU7O0FBRVo7RUFDRSxnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRTtJQUNFLHFCQUFnQjtTQUFoQixnQkFBZ0IsRUFBRSxFQUFFOztBQUV4QjtFQUNFO0lBQ0UscUJBQWdCO1NBQWhCLGdCQUFnQixFQUFFLEVBQUU7O0FBRXhCO0VBQ0U7SUFDRSxxQkFBZ0I7U0FBaEIsZ0JBQWdCLEVBQUUsRUFBRTs7QUFFeEI7RUFDRTtJQUNFLHFCQUFnQjtTQUFoQixnQkFBZ0IsRUFBRSxFQUFFIiwiZmlsZSI6InRlc3QuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLnJlc3VsdC1yZXN1bHQuZmllbGRzZXQge1xuICBjb2xvcjogd2hpdGU7IH1cblxuLmZvcm0tdHlwZS0tYm9vbGVhbiAuZm9ybS1jaGVja2JveC5mb3JtLWJvb2xlYW4ge1xuICBmbG9hdDogbm9uZTtcbiAgbGVmdDogLTJweDsgfVxuXG4uZm9ybS10eXBlLS1ib29sZWFuIC5mb3JtLWl0ZW1fX2xhYmVsIHtcbiAgdG9wOiAycHg7IH1cblxuI2VkaXQtY29uY2VybnMgPiAqIHtcbiAgbWF4LXdpZHRoOiAyOTBweDsgfVxuXG5AbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA3MjBweCkge1xuICAjZWRpdC1jb25jZXJucyB7XG4gICAgY29sdW1uczogMiAzMDBweDsgfSB9XG5cbkBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDk1MHB4KSB7XG4gICNlZGl0LWNvbmNlcm5zIHtcbiAgICBjb2x1bW5zOiAzIDMwMHB4OyB9IH1cblxuQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogMTI1MHB4KSB7XG4gICNlZGl0LWNvbmNlcm5zIHtcbiAgICBjb2x1bW5zOiA0IDMwMHB4OyB9IH1cblxuQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogMTU1MHB4KSB7XG4gICNlZGl0LWNvbmNlcm5zIHtcbiAgICBjb2x1bW5zOiA1IDMwMHB4OyB9IH1cbiJdfQ== */