// Variables
// -----------
// For complete documentation:
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

// Typography

// Font stacks
$stack-serif: Georgia, Times, "Times New Roman", _serif;
$stack-sans-serif: Helvetica, Arial, _sans-serif;
$opensans: "Open Sans", $stack-sans-serif;
$icomoon: "icomoon";

//Typography
$base-font-family: $opensans;
$body-font-family: $base-font-family;
$heading-font-family: $base-font-family;

// Font Sizes
$global-font-size: 62.5%; // Set rem value as Base 10 for ease of entering pixel values from comp while sticking with relative units (62.5% * 16px = 10px)
$base-font-size: 1.6rem;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.125;

// Letter spacing
$base-letter-spacing: 0;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$xsmall-spacing: $base-spacing / 3;
$base-z-index: 0;

// Border
$base-border-color: #7c7c7c;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: palette(blue);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 0.3s;
$base-ease: ease-in-out;
$duration: $base-duration $base-ease;
