.node--type-blog {
  #blog .layout-container-wrap {
    .layout__region {
      padding: 30px 15px;
  
      @include breakpoint($small) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  #masthead {
    .layout__region {
      display: block;
    }
  }

  .block-inline-blockhero-blog-post {
    &.style_1 {
      text-align: center;
      margin-top: 45px;

      .blog-title,
      .auth-date-wrap {
        padding-left: 15px;
        padding-right: 15px;
      }
  
      .field--name-field-author,
      .block-field-blocknodeblogcreated {
        display: inline-block;
        width: auto;
        margin: 0 6px 8px 6px;
      }
    }
  
    &.style_2 {
      max-width: 1100px;
      margin: 0 auto;
      
      .hero-col-wrap {
        @include flexbox;
        flex-direction: column;

        .hero-col-1 {
          @include flexbox;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          padding: 0 30px;
          text-align: center;
        }
        .hero-col-2 {
          padding: 0 30px;
        }
      }

      .field--name-field-author,
      .block-field-blocknodeblogcreated {
        display: inline-block;
        width: auto;
        margin: 0 6px 8px 6px;
      }

      .field--name-field-image-blog {
        img {
          display: block;
          width: 300px;
          margin: 0 auto;

          @include breakpoint($small) {
            width: 400px;
          }
        }
      }

      @include breakpoint($medium) {
        .hero-col-wrap {
          flex-direction: row;

          .hero-col-1 {
            text-align: left;
          }

          .hero-col-2 {
            margin-left: 45px;
          }
        }
      }
    }

    &.style_3 {
      min-height: 300px;
      height: 300px;

      @include breakpoint($medium) {
        min-height: 450px;
        height: 450px;
      }

      .block-field-image-blog {
        height: 100%;
      }

      .block-bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .hero-content-wrap {
        margin-top: 15px;
      }

      .hero-wrap {
        @include flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        height: 100%;
        margin: 0 auto;
        padding: 0 30px;
        text-align: center;

        .field--name-field-author,
        .block-field-blocknodeblogcreated {
          display: inline-block;
          width: auto;
          margin: 0 6px 8px 6px;
        }
      }
    }
  }

  .field--name-field-author {
    font-size: 1.5rem;
    margin-bottom: 4px;

    &::before {
      content: "by";
      display: inline-block;
      margin-right: 5px;
    }

    a {
      color: $base-font-color;
    }
  }

  .field--name-field-author,
  .block-field-blocknodeblogcreated {
    color: palette(grey);  
  }

  .bg-black,
  .bg-dark,
  .bg-primary {
    .field--name-field-author,
    .field--name-field-author a,
    .block-field-blocknodeblogcreated {
      color: palette(white);
    }
  }

  .authored-by {
    font-style: italic;
    margin-bottom: 20px;
  }
  .block-authored-on {
    padding-bottom: 0;
  }
  .field--name-created,
  .authored-on {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 1.4rem;
    font-style: italic;
  }
  // Default Page View
  &.node--view-mode-full {
    .blog-title,
    .block-field-image-blog {
      margin-bottom: 20px;
    }

    .field--name-created {
      display: block;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .field--name-title-text {
      @extend %h1;
      margin-bottom: 5px;
    }

    .block-image {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  // Teaser View (Blog List)
  &.node--view-mode-teaser {
    .node__content {
      @include flexbox;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 20px;
      text-align: left;
      transition: background-color $duration;

      @include breakpoint($small) {
        margin: 0 auto;
      }

      .blog-link {
        @include flexbox;
      }

      [class*="field--name-field-image"] {
        @include flexbox;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100px;
        min-width: 100px;
        height: 100px;
        margin: 25px 25px 0 0;
        transition: all $duration;

        a {
          display: flex;
        }
      }
      .title-link {
        color: inherit;
        text-decoration: none;

        > .field--name-title,
        > .field--name-title-text {
          display: block;
          margin: 20px 0 8px;
          @extend %h3;
          font-weight: 700;
        }
      }
      .__body {
        line-height: 1.6;
      }
      .learn-more {
        margin-top: 20px;
      }

      .field--name-field-issues {
        @include flexbox;
        flex-wrap: wrap;

        .field__item {
          width: 215px;
          @include icon-before(chevron-right) {
            font-size: 1.4rem;
          }

          .node__content {
            display: inline-block;
          }
        }
      }

      &:hover {
        [class*="field--name-field-image"] {
          transform: scale(1.05);
        }
      }
    }
    @include breakpoint($xsmall) {
      .node__content {
        flex-direction: row;
      }
    }
    @include breakpoint($small) {
      .node__content {
        [class*="field--name-field-image"] {
          width: 125px;
          min-width: 125px;
          height: 125px;
          margin: 25px 30px 20px 0;
        }
      }
    }
    @include breakpoint($medium) {
      .node__content {
        [class*="field--name-field-image"] {
          width: 175px;
          min-width: 175px;
          height: 175px;
        }
        .blog-copy-wrap {
          @include flexbox;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }

  // Secondary Teaser
  &.node--view-mode-secondary-teaser,
  &.node--view-mode-tertiary-teaser,
  &.node--view-mode-quaternary-teaser,
  &.node--view-mode-quinary-teaser,
  &.node--view-mode-senary-teaser {
    position: relative;
    height: 100%;
    max-width: 585px;
    margin: 0 auto;

    .blog-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .node__content {
      @include flexbox;
      flex-direction: column;
      max-width: 585px;
      height: 100%;
      //margin-left: 30px;
      text-align: left;
      box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05);
      background-color: palette(white);
      transition: background-color $duration;

      @include breakpoint($small) {
        margin: 0 auto;
      }

      .blog-wrap {
        @include flexbox;
        flex-direction: column;
        height: 100%;
      }

      .blog-copy {
        @include flexbox;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 30px 20px;
      }

      .field--name-created,
      .authored-on {
        margin: 0 0  10px 0;
      }

      .field--name-title,
      .field--name-title-text {
        @extend %h3;
        font-weight: 700;
      }
      .__body,
      p {
        line-height: 1.6;
        color: $base-font-color;
      }
      .learn-more {
        display: block;
        margin-top: auto;
        font-weight: 600;
      }

      &:hover {
      }
    }

    @include breakpoint($medium) {
      padding-bottom: 0;
    }
  }

  // Tert, Quat, Quin, Sen Teasers
  &.node--view-mode-tertiary-teaser,
  &.node--view-mode-quaternary-teaser,
  &.node--view-mode-quinary-teaser,
  &.node--view-mode-senary-teaser {
    .node__content {
      .authored-on {
        line-height: 1.2;
        text-decoration: none;
      }
      .field--name-field-author {
        line-height: 1.2;
      }
      .__body p {
        line-height: 1.8;
      }
      .learn-more {
        text-decoration: underline;
        &::after {
          content: none;
        }
      }
    }
  }

  // Tertiary Teaser
  &.node--view-mode-tertiary-teaser {
    .node__content {
      .blog-copy {
        flex-direction: row;
        flex-wrap: wrap;
      }
      .authored-on {
        flex: 0 48%;
        text-align: right;
        font-weight: 600;
        font-style: normal;
        line-height: 1.2;
        text-transform: uppercase;
      }
      .field--name-field-author {
        flex: 0 48%;
        order: -1;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
      }
      .field--name-title {
        width: 100%;
      }
    }
  }

  // Quaternary Teaser
  &.node--view-mode-quaternary-teaser {
    .node__content {
      .authored-on {
        order: -1;
        @include icon-before(calendar, 14px);
      }
      .field--name-field-author {
        flex: 0 48%;
        margin-top: -10px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      .field--name-title {
        order: -1;
      }
      .learn-more {
        padding-top: 20px;
        text-decoration: none;
        border-top: 1px solid palette(grey, lightest);
        @include icon-after(chevron-right, 15px);
      }
    }
  }

  // Quinary Teaser
  &.node--view-mode-quinary-teaser {
    .node__content {
      .authored-on {
        margin-top: -10px;
        margin-bottom: 20px;
      }
      .field--name-field-author {
        text-transform: uppercase;
        order: -2;
      }
      .field--name-title {
        order: -1;
      }
      .learn-more {
        max-width: 275px;
      }
    }
  }

  // Senary Teaser
  &.node--view-mode-senary-teaser {
    max-width: 675px;

    .node__content {
      max-width: 675px;
      margin-bottom: 30px;

      .blog-copy {
        display: block;
      }
      .authored-on {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 600;
        font-style: normal;
        line-height: 1.2;
        text-transform: uppercase;
      }
      .field--name-field-author {
        display: inline-block;
        margin-top: 2px;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
      }
      .authored-on + .field--name-field-author {
        float: left;
        margin-right: 8px;
        padding-right: 8px;
        border-right: 1px solid palette(grey, lightest);
      }
      .field--name-title {
        display: block;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 8px;
      }
    }
  }

  // Token View Mode
  &.node--view-mode-token {
    @extend %tokenview;
  }

  // Secondary Token View Mode
  &.node--view-mode-secondary-token {
    @extend %secondarytokenview;
  }
}

.page-node-type-blog {

  .layout__region--first {
    .block--type-zip-code-finder {
      flex-direction: column;

      .text-wrap {
        flex-direction: column;
        text-align: center;
      }
    }

    .block--type-zip-code-finder {
      background-color: var(--color-light);
    }

    .block-inline-blocksocial-media,
    .block--type-social-media {
      display: flex;
      align-items: center;
      padding: 15px 30px;

      .field--name-field-social-media {
        margin-left: initial;
      }

      .field--name-field-heading {
        margin: 0 15px 0 0;
        font-size: 1.8rem;
      }
    }
  }
}
