.node--type-job-post {
    .job-details {
        flex: 1 1 auto;
    }
    .title-wrap {
        display: flex;
        font-size: 2.0rem;
        font-weight: 700;
        .linked-title {
            color: var(--color-dark) !important;
            text-decoration: none;
            transition: .3s;
            &:hover {
                color: palette(black) !important;
            }
        }
    }
    .field--name-field-job-category {
        font-style: italic;
        margin-bottom: 15px;
    }

    // individual job on the listing page
    &.node--view-mode-teaser {
        .job-details {
            .info-wrap {
                display: flex;
                flex-direction: column;
                .pipe {
                    display: none;
                }
                .field--name-field-job-category {
                    font-style: normal;
                    font-weight: bold;
                    margin-bottom: 0;
                    padding-bottom: 5px;
                }
                .field--name-field-location {
                    position: relative;
                    @include icon-before("\e905", $color: var(--color-dark));
                    font-weight: bold;
                    margin-left: 15px;
                    padding-bottom: 5px;
                    &:before {
                        position: absolute;
                        margin-top: 6px;
                        margin-left: -17px;
                    }
                }
                .field--name-field-job-posting-date {
                    display: flex;
                    margin-bottom: 25px;
                }
            }
        }

        .apply-wrap {
            .apply-button {
                color: palette(white);
                &:hover {
                    color: palette(white);
                }
            }
        }

        @include breakpoint($small) {
            > .node__content {
                display: flex;
                flex-direction: row;
            }
            .job-details {
                .info-wrap {
                    flex-direction: row;
                    .pipe {
                        display: block;
                        margin: 0 3px;
                    }
                    .field--name-field-location {
                        margin-left: 10px;
                        &:before {
                            margin-top: 7px;
                            margin-left: -13px;
                            font-size: 1.4rem;
                        }
                    }
                    .field--name-field-job-posting-date {
                        margin-bottom: 0;
                    }
                }
            }
        }
        @include breakpoint($medium) {
            .job-details {
                .info-wrap {
                    .pipe {
                        margin: 0 10px;
                    }
                    .field--name-field-location {
                        margin-left: 15px;
                        &:before {
                            margin-top: 4px;
                            margin-left: -20px;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    // individual job page 
    &.node--view-mode-full {
        padding: 50px 20px 100px;
        max-width: 1040px;
        margin: 0 auto;
        > .node__content {
            flex-direction: column;
            .additional-info {
                > a {
                    font-size: 1.8rem;
                    color: palette(black);
                    text-decoration: none;
                    font-weight: 600;
                    @include icon-before("\e940", $color: var(--color-dark));
                    transition: .3s;
                    &:before {
                        transition: .3s;
                    }
                    &:hover {
                        &:before {
                            transform: translateX(-3px);
                        }
                    }
                }
            }
            .__body {
                margin-top: 50px;
                > h1,
                > h2,
                > h3,
                > h4 {
                    padding-bottom: 15px;
                    border-bottom: 1px solid #d0d0d0;
                }
            }
        }
        .field__item {
            a {
                color: var(--color-dark);
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

// individual job page header / hero section
.page-node-type-job-post {
    header.job-details {
        padding: 80px 0;
        background-color: var(--color-dark);
        > * {
            padding: 0 20px;
            color: palette(white);
        }
        .title-wrap {
            > * {
                font-size: 4.2rem;
                margin-bottom: 0;
            }
        }
        .info-wrap {
            display: flex;
            flex-direction: column;
            .pipe {
                display: none;
            }
            .field--name-field-job-category {
                font-style: normal;
                font-weight: bold;
                margin-bottom: 0;
                padding-bottom: 5px;
            }
            .field--name-field-location {
                position: relative;
                font-weight: bold;
                padding-bottom: 5px;
            }
            .field--name-field-job-posting-date {
                display: flex;
                margin-bottom: 25px;
            }
            .apply-wrap {
                a {
                    padding: 15px 30px;
                    text-decoration: none;
                    color: palette(white);
                    background-color: var(--color-dark);
                    &:hover {
                        color: var(--color-dark);
                        background-color: palette(white);
                    }
                }
            }
        }
    }

    @include breakpoint($small) {
        header.job-details {
            > * {
                max-width: 1040px;
                margin: 0 auto;
            }
            .title-wrap {
                > * {
                    font-size: 5.2rem;
                }
            }
            .info-wrap {
                flex-direction: row;
                align-items: center;
                .pipe {
                    display: block;
                    margin: 0 3px;
                }
                .field--name-field-job-category {
                    padding-bottom: 0;
                }
                .field--name-field-location {
                    padding-bottom: 0;
                }
                .field--name-field-job-posting-date {
                    margin-bottom: 0;
                }
                .apply-wrap {
                    margin-left: auto;
                }
            }
        }
    }
    @include breakpoint($medium) {
        header.job-details {
            .info-wrap {
                .pipe {
                    margin: 0 10px;
                }
            }
        }
    }
}
