.node--type-testimonial {
  //Teaser
  &.node--view-mode-teaser {
    height: 100%;

    .node__content {
      position: relative;
      @include flexbox;
      flex-direction: column;
      height: 100%;
      max-width: 500px;
      padding: 30px 20px;
      margin: 0 auto;
      text-align: left;
      border: 2px solid;

      @include icon-before(quote-right, 16px) {
        position: absolute;
        top: 10px;
        right: 0px;
        padding: 0 15px;
        font-size: 3.6rem;
        line-height: 60px;
        pointer-events: none;
        border-radius: 50%;
      }

      .stars {
        position: relative;
        margin-bottom: 25px;
        font-size: 1.4rem;

        &::before {
          content: "";
          display: inline-block;
          width: 35px;
          height: 35px;
          margin-right: 8px;
          background-image: url("../assets/logo-google.svg");
          vertical-align: middle;
        }
        span::before {
          margin-right: 2px;
          font-size: 1.4rem;
        }
        .external-url {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
        @include breakpoint($large) {
          font-size: 1.6rem;

          span::before {
            font-size: 1.9rem;
          }
        }
      }
      .__body {
        margin-bottom: 20px;
      }
      p {
        line-height: 2;
        color: initial;
      }
      .quotee {
        margin-top: auto;
      }
      .field--name-title,
      .field--name-title-text {
        display: inline-block;
        font-weight: 600;
      }
      .field--name-field-location {
        display: inline-block;

        &::before {
          content: ",";
          margin-left: -4px;
          margin-right: 6px;
        }
      }
    }
  }
}
