.layout__region {
  .block-inline-blockcall-out,
  .block--type-call-out {
    @extend %gradient-backgrounds;
    .field--name-field-heading {
      a:hover {
        text-decoration: none;
      }
    }
  }
}
