.summary-wrap .summary-text {
  display: inline-block;
  margin-right: 10px;
  font-style: italic; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNjaGVkdWxlX2VsZW1lbnQuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UscUJBQXFCO0VBQ3JCLGtCQUFrQjtFQUNsQixrQkFBa0IsRUFBRSIsImZpbGUiOiJzY2hlZHVsZV9lbGVtZW50LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5zdW1tYXJ5LXdyYXAgLnN1bW1hcnktdGV4dCB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgbWFyZ2luLXJpZ2h0OiAxMHB4O1xuICBmb250LXN0eWxlOiBpdGFsaWM7IH1cbiJdfQ== */