

.color-field-form-item-wrap {
  > .form-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    > label {
      width: 100%;
      flex-basis: 100%;
    }
    > input {
      max-width: 300px;
    }
    .form-item__suffix {
      padding: 0;
      input {
        display: block;
        overflow: hidden;
      }
    }
  }
}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex: 1 1 auto;
  }
}

#preview {
  max-width: 1400px;
  > .fieldset__wrapper {
    position: relative;
    padding-bottom: percentage(1080 / 810);
    #color-variable-preview-markup {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}

@media screen and (min-width: 720px) {
  .fields-wrap {
    max-width: 635px;
    margin-right: 15px;
  }
}
