@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dvz7m');
  src:  url('fonts/icomoon.eot?dvz7m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dvz7m') format('truetype'),
    url('fonts/icomoon.woff?dvz7m') format('woff'),
    url('fonts/icomoon.svg?dvz7m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-circle:before {
  content: "\e944";
}
.icon-close-circle:before {
  content: "\e944";
}
.icon-chat:before {
  content: "\e942";
}
.icon-conversation:before {
  content: "\e942";
}
.icon-amex:before {
  content: "\e92f";
}
.icon-visa:before {
  content: "\e930";
}
.icon-mastercard:before {
  content: "\e931";
}
.icon-discover:before {
  content: "\e932";
}
.icon-pencil:before {
  content: "\e933";
}
.icon-print:before {
  content: "\e934";
}
.icon-calendar:before {
  content: "\e935";
}
.icon-bell:before {
  content: "\e936";
}
.icon-download:before {
  content: "\e937";
}
.icon-list-ul:before {
  content: "\e938";
}
.icon-file-excel:before {
  content: "\e939";
}
.icon-file-image-o:before {
  content: "\e93a";
}
.icon-file-photo:before {
  content: "\e93a";
}
.icon-file-picture:before {
  content: "\e93a";
}
.icon-file-word:before {
  content: "\e93b";
}
.icon-file-pdf:before {
  content: "\e93c";
}
.icon-chevron-circle-down:before {
  content: "\e93d";
}
.icon-chevron-circle-up:before {
  content: "\e93e";
}
.icon-chevron-circle-right:before {
  content: "\e93f";
}
.icon-chevron-circle-left:before {
  content: "\e940";
}
.icon-talk:before {
  content: "\e92c";
}
.icon-comment:before {
  content: "\e92c";
}
.icon-dollar:before {
  content: "\e92b";
}
.icon-money:before {
  content: "\e92b";
}
.icon-usd:before {
  content: "\e92b";
}
.icon-caret-right:before {
  content: "\e91c";
}
.icon-caret-down:before {
  content: "\e91d";
}
.icon-shield:before {
  content: "\e919";
}
.icon-check-hand:before {
  content: "\e918";
}
.icon-user-lock:before {
  content: "\e916";
}
.icon-check-circle:before {
  content: "\e917";
}
.icon-star-o:before {
  content: "\e915";
}
.icon-star-half:before {
  content: "\e913";
}
.icon-star:before {
  content: "\e914";
}
.icon-quote-right:before {
  content: "\e911";
}
.icon-quote-left:before {
  content: "\e912";
}
.icon-info-circle:before {
  content: "\e910";
}
.icon-minus-circle:before {
  content: "\e90f";
}
.icon-plus-circle:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-facebook1:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e904";
}
.icon-marker:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevron-up:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-x:before {
  content: "\ea96";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-yelp:before {
  content: "\e928";
  color: #d32323;
}
.icon-google:before {
  content: "\e929";
  color: #4285f4;
}
.icon-pinterest:before {
  content: "\e920";
  color: #bd081c;
}
.icon-snapchat:before {
  content: "\e921";
  color: #fffc00;
}
.icon-reddit:before {
  content: "\e922";
  color: #ff4500;
}
.icon-tiktok:before {
  content: "\e923";
}
.icon-wechat:before {
  content: "\e924";
  color: #7bb32e;
}
.icon-messenger:before {
  content: "\e925";
  color: #00b2ff;
}
.icon-whatsapp:before {
  content: "\e926";
  color: #25d366;
}
.icon-facebook:before {
  content: "\e91e";
  color: #1877f2;
}
.icon-leaf:before {
  content: "\e941";
}
.icon-nature:before {
  content: "\e941";
}
.icon-plant:before {
  content: "\e941";
}
.icon-tea:before {
  content: "\e941";
}
.icon-green:before {
  content: "\e941";
}
.icon-vegan:before {
  content: "\e941";
}
.icon-vegetarian:before {
  content: "\e941";
}
.icon-users:before {
  content: "\e90e";
}
.icon-group:before {
  content: "\e90e";
}
.icon-team:before {
  content: "\e90e";
}
.icon-members:before {
  content: "\e90e";
}
.icon-community:before {
  content: "\e90e";
}
.icon-collaborate:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e92e";
}
.icon-profile:before {
  content: "\e92e";
}
.icon-avatar:before {
  content: "\e92e";
}
.icon-person:before {
  content: "\e92e";
}
.icon-member:before {
  content: "\e92e";
}
.icon-arrow-right-circle:before {
  content: "\e92d";
}
.icon-tumblr:before {
  content: "\e927";
}
.icon-brand:before {
  content: "\e927";
}
.icon-social:before {
  content: "\e927";
}
.icon-briefcase:before {
  content: "\e91f";
}
.icon-portfolio:before {
  content: "\e91f";
}
.icon-suitcase:before {
  content: "\e91f";
}
.icon-job:before {
  content: "\e91f";
}
.icon-career:before {
  content: "\e91f";
}
.icon-award:before {
  content: "\e91a";
}
.icon-home:before {
  content: "\e907";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-phone:before {
  content: "\e958";
}
.icon-checkmark:before {
  content: "\ea10";
  color: #3cb64b;
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter1:before {
  content: "\e943";
}
.icon-twitter-old:before {
  content: "\e943";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-clipboard:before {
  content: "\e92a";
}
.icon-list:before {
  content: "\e92a";
}
.icon-estimate:before {
  content: "\e92a";
}
.icon-close:before {
  content: "\e91b";
}
