<section class="cookie-banner accepted" aria-label="Cookie Banner">
    <div class="discalimer-text">{{ bannerText }}</div>
    <div class="accept-button-wrap">
        <button type="button" class="button accept-button">{{ acceptButtonText }}</button>
    </div>
    <div class="close-button">x</div>
</section>
