<h2 class="visually-hidden">Installation tasks</h2>
<ol class="task-list">
    <li class="done">
        Choose language
        <span class="visually-hidden"> (done)</span>  </li>
    <li class="done">
        Verify requirements
        <span class="visually-hidden"> (done)</span>  </li>
    <li class="done">
        Set up database
        <span class="visually-hidden"> (done)</span>  </li>
    <li class="done">
        Install Sprowt?
        <span class="visually-hidden"> (done)</span>  </li>
    <li class="done">
        Install site
        <span class="visually-hidden"> (done)</span>  </li>
    <li class="is-active">
        Install sprowt
        <span class="visually-hidden"> (active)</span>  </li>
</ol>
