// Header
$header-utility-height: 54px;
$header-utility-height-mobile: 67px;

$header-main-height: 120px;
$header-main-height-mobile: 72px;

$header-nav-height: 53px;
$header-nav-height-mobile: 0px;

$header-height: $header-utility-height + $header-main-height +
  $header-nav-height;
$header-height-tablet: $header-utility-height + $header-main-height;
$header-height-mobile: $header-utility-height-mobile +
  $header-main-height-mobile;

// Logo Size
$logo-height: 100px;
$logo-width: 300px;
$logo-height-tablet: $logo-height;
$logo-width-tablet: $logo-width;
$logo-height-mobile: 60px;
$logo-width-mobile: 210px;

$logo-footer-height: 100px;
$logo-footer-width: 300px;
$logo-footer-height-mobile: 60px;
$logo-footer-width-mobile: 210px;

// Admin Bar
$admin-bar-height-mobile: 83px;
$admin-bar-height: 93px;
