<style>
  @import "/themes/s3_subtheme/css/color-preview.css";
</style>
<article id="s3-preview">
  <header class="page-header">
    <div class="region bg-dark">
      <div class="align-left">
        <span>Star Rating</span>
        <span class="color-secondary">★ ★ ★ ★ ★</span>
        <span>0 Reviews</span>
      </div>
      <ul class="menu align-right">
        <li class="preview-button">Free Quote</li>
        <li class="preview-button bg-secondary">My Account</li>
      </ul>
    </div>

    <div class="region">
      <img class="logo align-left" src="/themes/s3_subtheme/assets/logos/logo.png" alt="Sprowt 3" />
      <div class="align-right">
        <div>Get the best pest control today</div>
        <div class="">Call Us Today! 000-000-0000</div>
      </div>
    </div>
    <div class="region bg-primary">
      <ul class="menu align-center">
        <li>Services</li>
        <li>About Us</li>
        <li>Locations</li>
        <li>Contact</li>
      </ul>
    </div>
  </header>

  <main>

    <div class="section bg-black">
      <div>
        <h2>H2 - Emotional Title</h2>
          <h4>Get the best pest control right when you need it: today!</h4>
          <span class="preview-button">Learn more</span>
      </div>
    </div>

    <div class="section">
      <div>
        <h2>Pest Control Near You</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum lacus sed orci sollicitudin, nec bibendum nisi pellentesque. Aenean imperdiet dolor lacus, ac sagittis leo facilisis ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum lacus sed orci sollicitudin, nec bibendum nisi pellentesque. Aenean imperdiet dolor lacus, ac sagittis leo facilisis ac.</p>
          <span class="preview-button">Click Here</span>
      </div>
      <div class="block bg-light border-top-tertiary">
        <h2>Get a Free Estimate</h2>
        <div>
          <div class="flex">
            <div class="form-input">
              <div>First Name</div>
              <input type="text" disabled/>
            </div>
            <div class="form-input">
              <div>Last Name</div>
              <input type="text" disabled/>
            </div>
          </div>
          <div class="form-input">
            <div>Email</div>
            <input type="text" disabled/>
          </div>
          <div class="form-input">
            <div>Phone</div>
            <input type="text" disabled/>
          </div>
          <div class="form-input">
            <input type="submit" value="Submit" disabled />
          </div>
        </div>
      </div>
    </div>

    <div class="section bg-dark align-center">
      <div>
        <h2>Check Out Our Services</h2>
        <div class="flex" style="margin-bottom: 20px;">
          <article class="service-teaser align-center">
            <div class="svg-icon align-center">★</div>
            <h3>Service</h3>
            <p>Are you struggling with ants, spiders, rodents, roaches, or other pests? We can help make your home safe and comfortable again, with proven pet-friendly, eco-friendly treatments!</p>
            <span class="preview-button">Learn More</span>
          </article>
          <article class="service-teaser align-center">
            <div class="svg-icon align-center">★</div>
            <h3>Service</h3>
            <p>Are you struggling with ants, spiders, rodents, roaches, or other pests? We can help make your home safe and comfortable again, with proven pet-friendly, eco-friendly treatments!</p>
            <span class="preview-button">Learn More</span>
          </article>
          <article class="service-teaser align-center">
            <div class="svg-icon align-center">★</div>
            <h3>Service</h3>
            <p>Are you struggling with ants, spiders, rodents, roaches, or other pests? We can help make your home safe and comfortable again, with proven pet-friendly, eco-friendly treatments!</p>
            <span class="preview-button">Learn More</span>
          </article>
        </div>
        <div>
          <span class="preview-button bg-secondary">View All Services</span>
        </div>
      </div>
    </div>


    <div class="section bg-primary">
      <div class="align-center">
        <h2 style="display: inline-block; margin-bottom: 0; vertical-align: middle;">Get Started Today 000-000-0000</h2>
        <span class="preview-button">Free Quote</span>
      </div>
    </div>

    <div class="section bg-light">
      <div>
        <div class="flex" style="margin-bottom: 20px;">
          <article class="special-offer-teaser bg-primary-dark align-center">
            <div class="clip">
              <h2>$100 Off</h2>
              <h4>Ant Control</h4>
              <p>Keep you home protected from ants year-round with our ants control program.</p>
              <span class="preview-button">Redeem Offer</span>
            </div>
          </article>
          <article class="special-offer-teaser bg-white align-center">
            <div class="clip">
              <h2>$100 Off</h2>
              <h4>Ant Control</h4>
              <p>Keep you home protected from ants year-round with our ants control program.</p>
              <span class="preview-button">Redeem Offer</span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer flex bg-primary">
    <div class="region">
      <img class="logo align-left" src="/themes/s3_subtheme/assets/logos/logo.png" alt="Sprowt 3" />
      <ul class="menu">
        <li>Services</li>
        <li>About Us</li>
        <li>Locations</li>
      </ul>
      <div class="align-right">
        <span class="social-icon">★</span>
        <span class="social-icon">★</span>
        <span class="social-icon">★</span>
      </div>
    </div>
  </footer>
</article>
