%sectionpseudo {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 250px;
  pointer-events: none;

  @include breakpoint($medium) {
    background-size: 470px;
  }
}

#masthead,
#hero {
  &.bg-dark,
  &.bg-black {
    position: relative;

    .hero-wrap {
      // z-index: 1;
    }

    &::before {
      // @extend %sectionpseudo;
      // background-image: url("../assets/red-corner-left.png");
      // background-position: top -1px left -1px;
    }

    &::after {
      // @extend %sectionpseudo;
      // background-image: url("../assets/red-corner-right.png");
      // background-position: bottom -1px right -1px;
    }
  }
}

#services,
#reviews {
  &.bg-dark,
  &.bg-black {
    position: relative;

    > .layout-container-wrap {
      // z-index: 1;
    }

    &::before {
      // @extend %sectionpseudo;
      // background-image: url("../assets/gray-corner-left.png");
      // background-position: bottom -1px left -1px;
    }
    &::after {
      // @extend %sectionpseudo;
      // background-image: url("../assets/gray-corner-right.png");
      // background-position: top -1px right -1px;
    }
  }
}

#areas-serviced,
#service-area,
#service-areas,
#branch-info {
  &.bg-dark,
  &.bg-black {
    //background-image: url("../assets/map-bg.jpg");
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-position: center center;
  }
  .layout__region--first,
  .layout__region--second {
    justify-content: center;
  }
}

[class*="block-areas-serviced-map-"],
[class*="block-service-area-map-"],
[class*="block-areas-services-map-"] {
  .field--name-field-media-image {
    text-align: center;

    img {
      // max-width: 500px;
    }
  }
}

#webform,
#webform-bottom {
}

#emotional-pitch-1,
#emotional-pitch-1 {
}
