.navbar-toggle {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 9px 5px;
  margin-left: auto;
  float: right;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
  background: none;
  border: none;

  &:focus {
    outline: 0;
  }

  &::before {
    content: "MENU";
    margin-right: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 0.8;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;

    & + .icon-bar {
      margin-top: 4px;
    }
  }

  @include breakpoint($small) {
    display: none;
  }
}

.navbar-we-mega-menu {
  position: relative;
  pointer-events: auto;
  z-index: 5;

  // Menu Row Grid
  .we-mega-menu-row {
    margin: {
      left: -1.06383%;
      right: -1.06383%;
    }

    display: flex;
    flex-wrap: wrap;

    > * {
      //flex: 0 0 97.87234%;
      //max-width: 97.87234%;
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      margin: {
        left: 1.06383%;
        right: 1.06383%;
      }
    }
  }

  $item-start: 1;
  $item-end: 12;
  @for $i from $item-start through $item-end {
    .span#{$i} {
      flex: 0 0 percentage($i / 12) - 2.12766%;
      max-width: percentage($i / 12) - 2.12766%;
    }
  }

  // Fading Animation
  .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open > .we-mega-menu-submenu,
  .we-mega-menu-ul
    .we-mega-menu-li.dropdown-menu.clicked
    > .we-mega-menu-submenu,
  .we-mega-menu-ul .dropdown-menu:not(.clicked):hover > .we-mega-menu-submenu,
  .we-mega-menu-ul .dropdown-menu:not(.clicked):focus > .we-mega-menu-submenu {
    animation-fill-mode: both;
    animation-duration: 0.35s;
    animation-timing-function: linear;
    animation-name: fadeInFromNone;
  }
}

// Mobile Menu
@include breakpoint($max-small) {
  header.page-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    pointer-events: none;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }

  .btn-close {
    opacity: 0;
    visibility: hidden;
    display: block;
    right: 230px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    @include icon-before(close, 2.4rem) {
      position: absolute;
      right: 218px;
      top: 15px;
      width: 48px;
      height: 48px;
      padding: 12px;
      border-radius: 50%;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      animation-fill-mode: both;
      animation-name: fadeInFromNone;
      animation-delay: 0.5s;
      z-index: 1000;
    }
  }

  body.toggled {
    header.page-header::after {
      pointer-events: inherit;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .btn-close {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }

  .region-we-mega-menu {
    margin-top: -65px;
    padding: 13px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .overlay {
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
  }

  .navbar-we-mega-menu {
    position: relative;
    z-index: 200;

    .we-mega-menu-row {
      justify-content: space-between;
      margin-left: 0;
      margin-right: 0;
      display: block;
      max-width: inherit;

      > * {
        display: block;
        margin-left: 0;
        margin-right: 0;
        max-width: inherit;
      }
    }

    .hidden-collapse {
      display: none !important;
    }

    .type-of-block {
      display: none;
    }
  }

  .we-mega-menu-submenu {
    width: auto !important;
  }

  .we-mega-menu-ul .dropdown-menu {
    > .we-mega-menu-submenu {
      display: none;
    }
  }

  .navbar-we-mega-menu.navbar {
    bottom: 0;
    display: none;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    right: -250px;
    width: 250px;
    top: 0;
    z-index: 1000;
    transition: all 0.5s ease-in-out;

    &.we-mobile-megamenu-active {
      right: 0;
      display: block;
      overflow: visible;
      animation-fill-mode: both;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-name: slideInRight;
    }

    .container,
    .container-fluid {
      padding: 0;
      position: static;
      width: auto;
      height: calc(100% - 50px);
      overflow: scroll;
    }

    .nav-tabs > li > a,
    .nav-tabs > li > .we-megamenu-nolink {
      margin-right: 0;
      position: relative;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      cursor: default;
    }

    .nav .open > a,
    .nav .open > a:focus,
    .nav .open > a:hover {
      cursor: default;
    }

    .dropdown-menu {
      position: static;
      min-width: inherit;
      padding: 0;
      margin: 0;

      &.active,
      &.active-trail {
        > .we-mega-menu-submenu {
          display: block;
        }
      }
    }

    .nav-tabs .dropdown-menu {
      margin-top: 0;
    }
    .we-mega-menu-ul {
      > li > a,
      > li > .we-megamenu-nolink {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    /* main-menu */
    ul {
      padding: 0;
      margin: 0;

      a,
      .we-megamenu-nolink {
        display: block;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;

        &:hover,
        &:focus {
        }

        &.is-active {
        }
      }

      > li {
        display: block;
        float: none;
        list-style: none;
        margin: 0;
        padding: 0;

        &:last-child {
        }

        ul {
          li {
            a,
            .we-megamenu-nolink {
              padding-left: 0;
              padding-right: 0;
              padding-top: 7px;
              padding-bottom: 7px;
              line-height: 1;
            }
          }
        }
      }

      .expanded {
        > a,
        > .we-megamenu-nolink {
          position: relative;

          &:before {
            // @include nucleo_glyph;
            // content: '\ea91';
            position: absolute;
            top: 50%;
            right: 0;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            line-height: 1.3;
            text-align: right;
          }
        }
      }
    }
  }

  // With Admin Toolbar
  .gin--horizontal-toolbar {
    .navbar-we-mega-menu {
      padding-top: $admin-bar-height-mobile;
    }
    .btn-close::before {
      top: 95px;
    }
  }
}

// Desktop Menu
@include breakpoint($small) {
  .navbar-we-mega-menu {
    .we-mega-menu-group {
      > a {
        padding-right: 10px;

        &:before,
        &:after {
          display: none;
        }
      }

      > .we-mega-menu-submenu {
        display: block !important;
        position: static;
        margin: 0 !important;
        padding: 0;
        min-width: initial;
        visibility: visible !important;
        opacity: 1 !important;
      }
    }

    iframe {
      max-width: 100%;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      cursor: pointer;
    }

    .type-of-block {
      h2 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 1.4rem;
        text-transform: uppercase;
      }

      a {
        outline: none;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  .we-mega-menu-ul {
    position: relative;
    margin: 0;
    padding: 0;

    .dropdown-menu {
      margin-top: 0;

      .dropdown-menu:first-child > .we-mega-menu-submenu {
        margin-top: 0px;
      }
    }

    .we-mega-menu-li {
      padding: 0;
      margin: 0;
      position: static;

      &.dropdown-menu {
        .we-mega-menu-submenu {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  .we-mega-menu-col {
    transition: all 0.1s ease;
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .we-mega-menu-submenu {
    position: absolute;
    z-index: 99;
    transition: all 0.1s ease;
    min-width: 200px;

    li {
      display: block;
      float: none;

      a,
      span {
        &:before,
        &:after {
          right: 5px;
          transform: rotate(-90deg);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin: 0;
    }

    .we-mega-menu-submenu {
      top: 0;
      left: 100%;
      margin: 0;
      min-width: 200px;

      .dropdown-menu {
        min-width: initial;
      }
    }
  }

  .we-mega-menu-submenu .we-mega-menu-submenu {
    margin-left: 0;
  }

  .we-mega-menu-ul {
    display: flex;

    > .we-mega-menu-li {
      display: flex;

      > a,
      .we-megamenu-nolink {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1 1 auto;
      }
    }

    .dropdown-menu {
      top: auto;
      position: relative;

      &:hover,
      &:focus {
        > a,
        > span {
        }

        > .we-mega-menu-submenu {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }

      .dropdown-menu:first-child {
        > .we-mega-menu-submenu {
          margin-top: 0px;
        }
      }
    }

    // > li,
    // > .we-mega-menu-li {
    //   margin: 0;

    //   > a {
    //     margin-right: 0;
    //     font-size: 13px;
    //     text-transform: uppercase;
    //     padding: 18px, 25px, 18px, 25px;

    //     &:before {
    //       opacity: 1;
    //     }

    //     &:after {
    //       opacity: 0;
    //     }

    //     &:hover,
    //     &:focus {
    //       text-decoration: none;
    //     }
    //   }

    //   &:first-child {
    //   }

    //   &.active,
    //   &.active-trail {
    //     > a,
    //     > a:hover,
    //     > a:focus {
    //     }
    //   }

    //   > span {
    //     margin-right: 0;
    //     font-size: 13px;
    //     text-transform: uppercase;
    //     padding: 18px, 25px, 18px, 25px;

    //     &:before {
    //       opacity: 1;
    //     }

    //     &:after {
    //       opacity: 0;
    //     }
    //   }
    // }

    > .dropdown-menu {
      z-index: 21;

      > a,
      > span {
        padding-right: 38px;
      }

      &:hover,
      &:focus {
        > a,
        > span {
          z-index: 23;
        }
      }

      &:first-child {
        > .we-mega-menu-submenu {
          margin-left: 0;
        }
      }

      &[class*="hidden-collapse"] {
        > a {
          padding-right: 25px;
        }
      }
    }
  }

  .navbar-we-mega-menu {
    .we-mega-menu-group > .we-mega-menu-submenu {
      animation-name: initial !important;
      padding: 0;

      li:first-child {
        > a,
        > span {
          padding-top: 8px;
        }
      }
    }

    a i {
      margin-right: 3px;
    }

    .we-mega-menu-col > * {
      padding: 0;
    }
  }

  .we-mega-menu-col {
  }

  .we-mega-menu-group {
    .we-mega-menu-col {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .we-mega-menu-submenu {
    z-index: 20;
    top: 100%;
    left: 0;
    margin-left: -1px;
    margin-top: -1px;
    padding: 10px, 15px, 10px, 15px;

    > .we-mega-menu-submenu-inner {
      min-height: 180px;
    }

    li,
    li.we-mega-menu-li {
      a {
        font-size: 1.3rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 8px;
        padding-bottom: 8px;

        &:hover,
        &:focus {
        }
      }

      &.active {
        > a,
        > a:hover,
        > a:focus,
        > .we-megamenu-nolink {
        }
      }

      // span {
      //   font-size: 13px;
      //   padding-left: 0;
      //   padding-right: 0;
      //   padding-top: 8px;
      //   padding-bottom: 8px;
      //   display: block;
      //   margin-right: 2px;
      // }

      &:first-child {
        > a,
        > span {
          padding-top: 0;

          &:before,
          &:after {
            margin-top: -9px;
          }
        }
      }
    }
  }

  // Menu Click
  .navbar-we-mega-menu.click-action {
    .we-mega-menu-ul {
      .dropdown-menu {
        &:hover,
        &:focus {
          position: static;

          > .we-mega-menu-submenu {
            display: none;
            opacity: 0;
            visibility: hidden;
          }
        }

        &.clicked {
          position: relative;

          > .we-mega-menu-submenu {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

// Header Primary Navigation
.region-header4 {
  pointer-events: none;
  .block-we-megamenu-blockmain nav {
    margin: 0;

    ul.we-mega-menu-ul {
      justify-content: center;
      padding: 0 20px;
    }
  }

  @include breakpoint($small) {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
    pointer-events: initial;
  }
}

body > .overlay {
  width: calc(100% - 250px);
}

.region-header4,
.region-header-layout #header-4 {
  nav.navbar-we-mega-menu {
    ul.we-mega-menu-ul {
      padding: 0 20px 20px 20px;

      li {
        &:last-child {
          margin-bottom: 0;
        }

        &.active,
        &.active-trail,
        &.open {
          > a {
            background-color: transparent;
            &:hover {
              background-color: transparent;
            }
          }
        }

        &.dropdown-menu {
          > a,
          > span {
            position: relative;
            cursor: pointer;
            &::before {
              content: none;
            }
            @include icon-after(caret-down, 18px) {
              position: relative;
              display: inline-block;
              top: inherit;
              right: inherit;
              width: auto;
              height: auto;
              margin: 0 0 6px 3px;
              line-height: 1px;
              opacity: 1;
            }
          }

          &.open {
            > a,
            > span {
              &::after {
                transform: rotate(-90deg);
              }
            }
          }
        }

        a {
          display: block;
          padding: 12px 6px;
          text-transform: uppercase;
          font-family: inherit; //override
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.125;
          text-decoration: none;
          text-shadow: none;
          text-align: right;
          border: none !important; //override
          border-color: rgba(0, 0, 0, 0.1) !important;
          background-color: transparent; //override

          span {
            transition: color $duration;
          }
        }
        .navigation__link-description {
          font-weight: normal;
          font-size: 1.4rem;
        }

        li li {
          margin-right: 20px;
        }
      }

      > li.menu-item--expanded {
        list-style: none;
      }

      .we-mega-menu-submenu {
        padding: 0 !important;
        background-color: palette(white);

        .we-mega-menu-row {
          margin: 0 !important;
          .we-mega-menu-col {
            margin: 0 !important;

            > div {
              padding: 20px;
            }
          }
        }
        ul.subul {
          li {
            &.dropdown-menu {
              > a,
              > span {
                &::after {
                  position: absolute;
                  bottom: 14px;
                  margin-left: 6px;
                }
              }
            }

            a {
              padding-right: 18px;
              text-transform: inherit;
            }
          }
        }
      }
    }

    @include breakpoint($small) {
      ul.we-mega-menu-ul {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 15px;

        > li {
          display: inline-block;
          padding: 10px;
          text-transform: uppercase;
          border: none;

          a {
            display: block;
            padding: 6px;
            font-family: inherit; //override
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.125;
            text-decoration: none;
            text-align: right;
            background-color: transparent; //override
            //transition-duration: 0.3s;

            &::after {
              //transition-duration: 0.3s;
            }

            &:hover {
              &::after {
                transform: rotate(180deg);
              }
            }

            span {
              transition: color $duration;
            }
          }
        }

        .we-mega-menu-submenu {
          margin-top: 0;
          padding: 8px 15px;
          border: none;

          > .we-mega-menu-submenu-inner {
            min-height: auto;
          }

          ul.subul {
            li {
              transition: background-color $duration;
              a {
                padding: 12px 6px 12px 12px;
                text-transform: none;
                font-size: 1.7rem;
                text-align: left;
                border: none;
                transition: color $duration;
              }
            }
          }
        }
      }
    }

    @include breakpoint($medium) {
      ul.we-mega-menu-ul {
        padding: 0 20px;

        > li {
          padding: 10px 20px;

          a {
            padding: 6px;
            font-size: 1.8rem;
          }
        }

        .we-mega-menu-submenu {
          padding: 8px 15px;

          ul.subul {
            li {
              a {
                font-size: 1.7rem;
              }
            }
          }
        }
      }
    }

    @include breakpoint($large) {
      > ul.menu {
        > li {
          padding: 10px 25px;
        }
      }
    }
  }
}

.navbar-we-mega-menu .span12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.region-header4,
.region-header-layout #header-4 {
  nav.main {
    > ul.menu {
      display: flex;
      justify-content: center;
      width: 100%;
      > li {
        display: inline-block;
        padding: 10px 20px;
        text-transform: uppercase;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          display: block;
          padding-top: 6px;
          padding-bottom: 6px;
          font-size: 1.8rem;
          font-weight: 600;
          text-decoration: none;
          text-align: right;
          transition: color $duration;
        }

        .navigation__link-description {
          font-weight: normal;
          font-size: 1.4rem;
        }
      }

      > li.dropdown-menu {
        list-style: none;
      }
    }
  }
}
