// zip finder utility link in tablet and desktop. zip finder utility link for mobile is in primary partial.
.menu--utility-zip-finder {
    display: none;
    @include breakpoint($small) {
        display: block;
        width: auto;
        min-width: 195px;
        position: relative;
        margin-right: auto;
    }

    ul.menu > li > a {
        @include icon-before(map-marker, 17px, var(--color-dark));
        text-decoration: none;
        font-weight: 700;
        color: var(--color-dark);
        transition: .3s;
        &:before {
            transition: .3s;
        }

        .bg-dark & {
            color: palette(white);
        }

        .bg-zebra &,
        .bg-light &,
        .bg-white & {
            color: palette(black);
        }

        &:hover {
            cursor: pointer;
            &:before {
                transform: scale(1.15);
            }
        }
    }
}

// header utility zip finder (desktop)
header.page-header {
    .block--type-zip-code-finder {
        background-color: transparent;

        .zip-wrap {
            padding: 30px;
            text-align: center;
            box-shadow: 10px 10px 13px 0 rgba(0,0,0,.24);
            background-color: var(--color-dark);
        }
        &:after { //top notch
            border-bottom-color: var(--color-dark);
        }
  
        .field--name-field-heading {
            font-size: 2.4rem;
            margin: 0 auto;
            color: palette(white);
        }
        .field--type-text-long {
            margin-top: -5px;
            margin-bottom: 10px;
            p {
                font-weight: 600;
                color: palette(white);
            }
        }
        .divider {
            z-index: 0;
            color: palette(white);
            background-color: transparent;
            &:before {
                left: 14px;
            }
            span {
                padding: 0 10px;
                background-color: var(--color-dark);
            }
        }
        .field--name-field-zip-code-finder-form {
            .zipcode-finder-find-zipcode .form-submit {
                border: none;
                margin-left: 10px;
                background-color: palette(black);
                &:hover {
                    color: palette(black);
                    background-color: palette(white);
                }
            }
        }
  
        .field--name-field-view-all a {
            font-size: 1.7rem;
            color: palette(black);
            background-color: palette(white);
            &:before,
            &:after {
              display: block;
            }
            &:before {
              margin-right: 5px;
              margin-top: -4px;
              background-color: palette(black);
            }
            &:after {
              background-color: palette(white);
            }
            &:hover {
                color: palette(white);
                background-color: transparent;
            }
        }
  
        .overlay {
            display: none;
            cursor: pointer;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(palette(black), 0.5);
            opacity: 0;
            transition: opacity $duration;
            z-index: -2;
        }
  
        &.show {
            padding: 0;
            box-shadow: none;
            .overlay {
                display: block;
                opacity: 1;
            }
        }
    }
}