.contents-container {
  .generated-content {
    display: flex;
    background: rgba(0,0,0, 0.2);
    &:nth-of-type(even) {
      background: rgba(0,0,0, 0.1);
      &:hover {
        background: transparent;
      }
    }
    &:hover {
      background: transparent;
    }
    .generated-content-content {
      flex: 1 1 auto;
      padding: 15px;
    }
    .button-container {
      padding: 15px;
    }
  }
}
