{#
/**
 * @file
 * Default theme implementation of an address composite webform element.
 *
 * Available variables:
 * - content: The element to be output.
 * - flexbox: Determines if Flexbox layout should be applied to the composite
 *   element.
 *
 * @see template_preprocess_sprowt_address_autocomplete()
 *
 * @ingroup themeable
 */
#}
<div class="sprowt-address-autocomplete">
    {{ content }}
</div>
