<script>
    const botConfig = {{ botConfig | raw }};
    const test = {% if testing is not empty %}true{% else %}false{% endif %};
</script>
<script>
    function loadBot() {
        const search = window.location.search;
        let searchStr = '';
        let searchObj = {};
        let searchArray = search.replace('?', '').split('&');
        for(let i = 0; i < searchArray.length; ++i) {
            let parts = searchArray[i].split('=');
            let key = parts[0];
            let val = decodeURIComponent(parts[1]);
            searchStr += `<li><strong>${key}</strong>: ${val}</li>`;
            searchObj[key] = val;
        }
        console.log('lawnbotSearchParams', searchObj);
        const body = document.getElementById('LawnBotFullPage');
        if(test) {
            body.innerHTML = `
                    <h1>Testing</h1>
                    <ol>${searchStr}</ol>
                `;
        }
        else {
            body.innerHTML = `
                    <div class="LawnBotFullPage-container">
                        <iframe frameborder="0" width="100%" height="100%"
                        src="https://sales.lawnbot.biz/${botConfig.customerId}/${botConfig.botId}/${search}"
                        sandbox="allow-popups allow-top-navigation allow-scripts allow-same-origin allow-modals" />
                    </div>
                `;
        }
    }
    setTimeout(() => {
        loadBot();
    }, 500);

</script>
<div id="LawnBotFullPage"></div>
