.layout__region {
  > .block {
    padding: $margin $margin;
  }
}
.layout__region--first,
.layout__region--second,
.layout__region--third,
.layout__region--fourth {
  &:not(.bg-*) > .block {
    padding: $margin $margin;

    @include breakpoint($medium) {
      padding: ($margin * 1.5) $margin;
    }
  }
}

.layout {
  position: relative;
  z-index: 1;
}

.block {
  width: 100%;

  &.center-align {
    text-align: center;
  }
  &.left-align {
    text-align: left;

    .view .view-content {
      justify-content: flex-start;
    }
  }
  &.center-align-headings {
    .field--name-field-label,
    .field--name-field-label-tag,
    .field--name-field-heading,
    .field--name-field-subheading,
    .field--name-field-subheading-tag {
      text-align: center;
    }
  }
  &.right-align {
    text-align: right;

    .view .view-content {
      justify-content: flex-end;
    }
  }
  &.vertical-center-align {
    @include flexbox;
    align-items: center;
  }
}

.field--name-field-sections {
  > .field__item {
    position: relative;
  }
}

.field--name-field-heading:not(h1) {
  @extend %h2;

  @include breakpoint($medium) {
    & + .field--name-field-subheading,
    & + .field--name-field-subheading-tag {
      margin-top: -1rem;
    }
  }
}

.field--name-field-subheading,
.field--name-field-subheading-tag {
  @extend %h3;
  font-weight: 700;
}

.field--name-field-label,
.field--name-field-label-tag {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    margin-top: 6px;
    width: 110px;
    height: 7px;
  }

  .block.center-align &::after,
  .block.center-align-headings &::after {
    margin-right: auto;
    margin-left: auto;
  }
}
.field--name-field-link {
  margin-top: $margin;

  .field__item {
    display: inline-block;

    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }
}

.block-field-blocknodecity-pagefield-used-for-lists-only {
  display: none;
}

.group-wrapper {
  position: relative;
  @include flexbox;
  flex-wrap: wrap;
  width: 100%;

  .group-title {
    width: 100%;
  }

  .group-items {
    width: 100%;
  }
}

//Tiled View Rows {
%viewcolumns {
  .view-content,
  > .field__items {
    @include flexbox();
    justify-content: center;
  }

  &[class*="view-display-id-block_teaser_"],
  &[class*="view-display-id-block_secondary_teaser_"],
  &[class*="view-count-"] {
    .view-content,
    > .field__items {
      justify-content: center;
      flex-wrap: wrap;
      margin-left: -$gutter/2;

      .views-row,
      > .field__item {
        width: 100%;
        margin-left: $gutter;
        margin-bottom: $margin;
      }
    }
  }

  &.view-display-id-block_teaser_2,
  &.view-display-id-block_secondary_teaser_2,
  &.view-count-2 {
    .view-content,
    > .field__items {
      .views-row,
      > .field__item {
        @include breakpoint($small) {
          width: calc(50% - #{$gutter});
          max-width: 550px;
          margin-bottom: 0;
        }
      }
    }
  }

  &.view-display-id-block_teaser_4,
  &.view-display-id-block_teaser_8,
  &.view-display-id-block_secondary_teaser_4,
  &.view-display-id-block_secondary_teaser_8,
  &.view-count-4,
  &.view-count-8 {
    .view-content,
    > .field__items {
      .views-row,
      > .field__item {
        @include breakpoint($small) {
          width: calc(50% - #{$gutter});
          max-width: 550px;
          margin-bottom: 0;
        }
        @include breakpoint($medium) {
          width: calc(25% - #{$gutter});
          max-width: 550px;
          margin-bottom: 0;
        }
      }
    }
  }

  &[class*="view-display-id-block_teaser_"]:not(.view-display-id-block_teaser_1):not(.view-display-id-block_teaser_2):not(.view-display-id-block_teaser_4):not(.view-display-id-block_teaser_8),
  &[class*="view-display-id-block_secondary_teaser_"]:not(.view-display-id-block_secondary_teaser_1):not(.view-display-id-block_secondary_teaser_2):not(.view-display-id-block_secondary_teaser_4):not(.view-display-id-block_secondary_teaser_8),
  &[class*="view-count-"]:not(.view-count-0):not(.view-count-1):not(.view-count-2):not(.view-count-4):not(.view-count-8) {
    .view-content,
    > .field__items {
      .views-row,
      > .field__item {
        @include breakpoint($smedium) {
          width: calc(33.3333% - #{$gutter});
          max-width: 550px;
        }
      }
    }
  }

  &.view-display-id-block_teaser_3,
  &.view-display-id-block_teaser_6,
  &.view-display-id-block_teaser_9,
  &.view-display-id-block_secondary_teaser_3,
  &.view-display-id-block_secondary_teaser_6,
  &.view-display-id-block_secondary_teaser_9,
  &.view-count-3,
  &.view-count-6,
  &.view-count-9 {
    .view-content,
    > .field__items {
      .views-row,
      > .field__item {
        @include breakpoint($small) {
          &:last-child {
            margin-bottom: 0;
          }
        }
        @include breakpoint($smedium) {
          &:nth-last-child(-n + 3) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

%gradient-backgrounds {
  $gradient-range: 20;
  $gradient-angle: 90;
  @while $gradient-range < 81 {
    &.gradient-black,
    &.style-gradient-black {
      &::before {
        background-color: palette(black, pure);

        @include breakpoint($medium) {
          background: linear-gradient(
            #{$gradient-angle}deg,
            palette(black, pure) 0%,
            palette(black, pure) 35%,
            rgba(palette(black), 0) 65%,
            rgba(palette(black), 0) 100%
          );
        }
      }

      &.gradient-range-#{$gradient-range}::before {
        @include breakpoint($medium) {
          background: linear-gradient(
            #{$gradient-angle}deg,
            palette(black, pure) 0%,
            palette(black, pure) ($gradient-range - 15) * 1%,
            rgba(palette(black), 0) ($gradient-range + 15) * 1%,
            rgba(palette(black), 0) 100%
          );
        }
      }
    }

    &.gradient-dark,
    &.style-gradient-dark {
      &::before {
        background-color: var(--color-dark);

        @include breakpoint($medium) {
          background: linear-gradient(
            #{$gradient-angle}deg,
            var(--color-dark) 0%,
            var(--color-dark) 35%,
            rgba(palette(black), 0) 65%,
            rgba(palette(black), 0) 100%
          );
        }
      }

      &.gradient-range-#{$gradient-range}::before {
        @include breakpoint($medium) {
          background: linear-gradient(
            #{$gradient-angle}deg,
            var(--color-dark) 0%,
            var(--color-dark) ($gradient-range - 15) * 1%,
            rgba(palette(black), 0) ($gradient-range + 15) * 1%,
            rgba(palette(black), 0) 100%
          );
        }
      }
    }

    &.gradient-light,
    &.style-gradient-light {
      &::before {
        background-color: var(--color-light);

        @include breakpoint($medium) {
          background: linear-gradient(
            #{$gradient-angle}deg,
            var(--color-light) 0%,
            var(--color-light) 35%,
            rgba(palette(white), 0) 65%,
            rgba(palette(white), 0) 100%
          );
        }
      }

      &.gradient-range-#{$gradient-range}::before {
        @include breakpoint($medium) {
          background: linear-gradient(
            #{$gradient-angle}deg,
            var(--color-light) 0%,
            var(--color-light) ($gradient-range - 15) * 1%,
            rgba(palette(white), 0) ($gradient-range + 15) * 1%,
            rgba(palette(white), 0) 100%
          );
        }
      }
    }

    &.gradient-white,
    &.style-gradient-white {
      &::before {
        background-color: palette(white);

        @include breakpoint($medium) {
          background: linear-gradient(
            #{$gradient-angle}deg,
            palette(white) 0%,
            palette(white) 35%,
            rgba(palette(white), 0) 65%,
            rgba(palette(white), 0) 100%
          );
        }
      }

      &.gradient-range-#{$gradient-range}::before {
        @include breakpoint($medium) {
          background: linear-gradient(
            #{$gradient-angle} deg,
            palette(white) 0%,
            palette(white) ($gradient-range - 15) * 1%,
            rgba(palette(white), 0) ($gradient-range + 15) * 1%,
            rgba(palette(white), 0) 100%
          );
        }
      }
    }

    &.gradient-primary,
    &.style-gradient-primary {
      &::before {
        background-color: var(--color-primary);

        @include breakpoint($medium) {
          background: linear-gradient(
            90deg,
            var(--color-primary) 0%,
            var(--color-primary) 35%,
            transparent 65%,
            transparent 100%
          );
        }
      }

      &.gradient-range-#{$gradient-range}::before {
        @include breakpoint($medium) {
          background: linear-gradient(
            90deg,
            var(--color-primary) 0%,
            var(--color-primary) ($gradient-range - 15) * 1%,
            transparent ($gradient-range + 15) * 1%,
            transparent 100%
          );
        }
      }
    }

    &.gradient-primary-dark,
    &.style-gradient-primary-dark {
      &::before {
        background-color: var(--color-primary-dark);

        @include breakpoint($medium) {
          background: linear-gradient(
            90deg,
            var(--color-primary-dark) 0%,
            var(--color-primary-dark) 35%,
            transparent 65%,
            transparent 100%
          );
        }
      }

      &.gradient-range-#{$gradient-range}::before {
        @include breakpoint($medium) {
          background: linear-gradient(
            90deg,
            var(--color-primary-dark) 0%,
            var(--color-primary-dark) ($gradient-range - 15) * 1%,
            transparent ($gradient-range + 15) * 1%,
            transparent 100%
          );
        }
      }
    }

    &.gradient-primary-light,
    &.style-gradient-primary-light {
      &::before {
        background-color: var(--color-primary-light);

        @include breakpoint($medium) {
          background: linear-gradient(
            90deg,
            var(--color-primary-light) 0%,
            var(--color-primary-light) 35%,
            transparent 65%,
            transparent 100%
          );
        }
      }

      &.gradient-range-#{$gradient-range}::before {
        @include breakpoint($medium) {
          background: linear-gradient(
            90deg,
            var(--color-primary-light) 0%,
            var(--color-primary-light) ($gradient-range - 15) * 1%,
            transparent ($gradient-range + 15) * 1%,
            transparent 100%
          );
        }
      }
    }

    &.gradient-secondary,
    &.style-gradient-secondary {
      &::before {
        background-color: var(--color-secondary);

        @include breakpoint($medium) {
          background: linear-gradient(
            90deg,
            var(--color-secondary) 0%,
            var(--color-secondary) 35%,
            transparent 65%,
            transparent 100%
          );
        }
      }

      &.gradient-range-#{$gradient-range}::before {
        @include breakpoint($medium) {
          background: linear-gradient(
            90deg,
            var(--color-secondary) 0%,
            var(--color-secondary) ($gradient-range - 15) * 1%,
            transparent ($gradient-range + 15) * 1%,
            transparent 100%
          );
        }
      }
    }

    $gradient-range: $gradient-range + 1;
  }
}

.block-bg-image {
  pointer-events: none;
}

%block-background-image {
  .block-bg-image {
    @include flexbox;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;

    > .field {
      width: 100%;
      height: 100%;

      article,
      .media--type-media-image {
        height: 100%;
      }

      picture,
      img {
        position: absolute;
        top: 0;
        left: -1000%;
        right: -1000%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
      }
    }
  }

  @include breakpoint($medium) {
    &.style-round,
    &.style-round-edge,
    &.style-diagonal {
      .block-bg-image {
        .media--type-media-image {
          position: relative;
        }
        > .field {
          width: calc(50% - 50px);
          margin-left: auto;
        }
      }
      &.right-align {
        .block-bg-image {
          > .field {
            margin-left: initial;
          }
        }
      }
      .hero-wrap .hero-copy {
        max-width: calc(50% + 20px);
      }
    }
    &.style-round {
      .block-bg-image {
        img {
          clip-path: circle(calc(100% - 110px) at 83% 58%);
        }
      }
      &.right-align {
        .block-bg-image {
          img {
            clip-path: circle(calc(100% - 110px) at 17% 58%);
          }
        }
      }
    }
    &.style-diagonal {
      .block-bg-image {
        img {
          clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }
      &.right-align {
        .block-bg-image {
          img {
            clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
          }
        }
      }
    }
  }

  @include breakpoint($large) {
    &.style-round {
      .block-bg-image {
        img {
          clip-path: circle(calc(100% - 110px) at 77% 58%);
        }
      }
      &.right-align {
        .block-bg-image {
          img {
            clip-path: circle(calc(100% - 110px) at 23% 58%);
          }
        }
      }
    }
  }
}
