.layout__region {
  .block-inline-blockbefore-after-image-slider,
  .block--type-before-after-image-slider {
    padding: $margin;

    .beforeafter-slider {
      display: grid;
      place-items: baseline;
    }

    &.center-align {
      .beforeafter-slider {
        place-items: center;
      }
    }

    .beforeafter-container {
      display: grid;
      place-content: center;
      position: relative;
      overflow: hidden;
      --position: 50%;
    
      .image-container {
        max-height: 600px;
      }
    }
    
    .image-before {
      position: absolute;
      width: var(--position);
      inset: 0;
      overflow: hidden;
      z-index: 1;
      //filter: grayscale(100%)
    }
    
    .slider-image {
      width: 100%;
      height: 100%;
      max-height: 600px;
      object-fit: cover;
      object-position: left;
    }

    .before-text-wrap,
    .after-text-wrap {
      position: absolute;
      bottom: 0;
      width: 200px;
    }

    .before-text-wrap {
      left: 0;
      text-align: left;
    }

    .after-text-wrap {
      right: 0;
      text-align: right;
    }

    .before-text,
    .after-text {
      display: inline-block;
      padding: 5px 12px;
      color: palette(white);
      font-size: 1.8rem;
      font-weight: 700;
      background-color: palette(black);
    }
    
    .baslider {
      position: absolute;
      inset: 0;
      cursor: pointer;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    
      &:focus-visible ~ .slider-button {
        outline: 5px solid palette(black);
        outline-offset: 3px;
      }
    }

    .baslider-line {
      position: absolute;
      left: var(--position);
      width: 2px;
      height: 100%;
      transform: translateX(-50%);
      inset: 0;
      background-color: palette(white);
      pointer-events: none;
      z-index: 2;
    }
    
    .baslider-button {
      position: absolute;
      top: 50%;
      left: var(--position);
      display: grid;
      padding: 5px;
      place-items: center;
      color: palette(black);
      border-radius: 100vw;
      transform: translate(-50%, -50%);
      background-color: palette(white);
      box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      pointer-events: none;
      z-index: 2;
    }

    .beforeafter-container.animate {
      .field--name-field-before-image,
      .image-before {
        width: var(--position);
        animation: baanimation 2s 1 normal ease-in-out 0.1s;
      }
      .baslider-line,
      .baslider-button {
        animation: balanimation 2s 1 normal ease-in-out 0.1s;
      }
    }
  }
}

@keyframes baanimation {
  0% {width: 0%; }
  50% {width: 80%; }
  100% {width: 50%; }
}
@keyframes balanimation {
  0% {left: 0%; }
  50% {left: 80%; }
  100% {left: 50%; }
}