// Locations
.layout__region {
  .block-inline-blockbranches,
  .block--type-branches {
    padding: $margin;

    @include breakpoint($medium) {
      padding: ($margin * 1.5) $margin $margin;
    }

    &:only-child {
      @include breakpoint($medium) {
        padding: ($margin * 1.5) $margin;
      }
    }

    .basic-wrap {
      z-index: 1; //prevent fade overlap

      > *:last-child {
        margin-bottom: 0;
      }
    }

    .view-branches {
      margin-top: $margin;
    
      .view-content {
        @include flexbox;
        justify-content: flex-start;
        flex-wrap: wrap;
    
        .views-row {
          max-width: 288px;
          margin-right: 20px;
        }
      }

      //Grouped View
      &[class*="_token"] {
        .view-content {
          justify-content: flex-start;
          margin: 0;

          > h3 {
            width: 100%;
            margin: 20px 0;
            padding: 0 0 10px 0;
            text-align: left;
            font-size: 2.1rem;
            text-transform: uppercase;
            border-bottom: 2px solid #edeff0;
          }
        }
      }

      &.view-display-id-block_title {
        .view-content {
          @include flexbox;
          flex-wrap: wrap;
          > h3 {
            //Grouping title
            width: 100%;
            flex: 100%;
            text-transform: uppercase;
            &:not(:first-child) {
              margin-top: 18px;
            }
          }
          .views-row {
            width: calc(100% - 15px);
            margin-right: 15px;
            margin-bottom: 15px;
            padding-left: 20px;
            text-align: left;
    
            @include breakpoint($xxsmall) {
              width: calc(50% - 15px);
            }
            @include breakpoint($small) {
              width: calc(33.3% - 15px);
            }
            @include breakpoint($medium) {
              width: calc(50% - 15px);
            }
            @include breakpoint($large) {
              width: calc(33.3% - 15px);
            }
    
            .layout--twocol-section & {
              @include breakpoint($xxsmall) {
                width: calc(50% - 15px);
              }
              @include breakpoint($small) {
                width: calc(33.3% - 15px);
              }
              @include breakpoint($medium) {
                width: calc(50% - 15px);
              }
            }
          }
    
          .field--name-title-text {
            font-weight: 600;
            @include icon-before(map-marker) {
              font-size: 1.9rem;
              line-height: 1;
              margin-right: 5px;
              margin-left: -19px;
            }
          }
        }
      }
    }
  }
}

