.layout__region {
  .block-inline-blockcareer-benefits,
  .block--type-career-benefits {
    margin: 0 auto;
    padding: $margin;

    @include breakpoint($medium) {
      margin: inherit;
      padding: ($margin * 1.5) $margin;
    }
  }
}

.layout.full-width:not(.layout--onecol) {
  .block-inline-blockcareer-benefits {
    @include breakpoint($medium) {
      @include flexbox;
      align-items: center;
      max-width: calc(#{$container} / 2);
    }
  }
}

// Career Benefit Override columns
.field--name-field-overrides-career-benefit {
  @include flexbox;
  justify-content: inherit;
  flex-wrap: wrap;
  margin-top: $margin;

  > .field__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint($xsmall) {
    > .field__item {
      width: 100%;
    }
  }

  @include breakpoint($medium) {
    flex-wrap: nowrap;
    > .field__item {
      max-width: 450px;
      width: auto;
    }
  }

  .layout--twocol-section & {
    @include breakpoint($smedium) {
      > .field__item {
        width: 100%;
      }
    }
    @include breakpoint($medium) {
      > .field__item {
        width: calc(50% - 20px);
      }
    }
  }
}

.block {
  .view-career-benefits {
    @extend %viewcolumns;
    margin-top: $margin;

    // Teaser View
    &[class*="view-display-id-block_compact"] {
      &.view-count-4,
      &.view-count-8,
      &.view-count-12,
      &.view-count-16,
      &.view-count-20 {
        .view-content {
          flex-wrap: wrap;
          margin-left: 0;
          .views-row {
            margin: 0 40px;
            + .views-row {
              margin-top: 20px;
            }
  
            &:last-child {
              margin-bottom: 0;
            }
          }
  
          @include breakpoint($small) {
            .views-row {
              max-width: 40%;
              margin: 20px;
              + .views-row {
                margin-top: 20px;
              }
            }
          }
          @include breakpoint($medium) {
            .views-row {
              max-width: 20%;
            }
          }
        }
      }

      .view-content {
        .views-row {
          margin-bottom: 20px;
        }
      }

      &.view-count-5 {
        @include breakpoint($medium) {
          .view-content {
            .views-row {
              width: 17%;
            }
          }
        }
      }
    }
  }
}