.layout__region {
  .block-inline-blockcity-page-service-blurb,
  .block--type-city-page-service-blurb {
    @include flexbox;
    flex-wrap: wrap;
    padding: $margin;

    .city-service-blurb-wrap {
      flex: 1;
    }

    .city-service-blurb-sidebar {
      @include flexbox;
      align-items: center;
      justify-content: center;
      flex: 100%;
      margin-top: $margin;
      margin-bottom: $margin;

      &.option-concern .concern-wrap {
        padding: $margin;
        text-align: center;
      }
      &.option-image {
        padding: 0;
      }
    }

    @include breakpoint($medium) {
      flex-wrap: nowrap;
      padding: ($margin * 1.5) $margin $margin;

      .city-service-blurb-sidebar {
        flex: 0 1 calc(40% - 35px);
        margin: 0 0 0 $margin;
      }
    }
  }
}
