.copyright {
  width: 100%;
}

.powered-by-coalmarch {
  position: relative;
  display: inline-block;
  width: 90px;
  text-indent: -9995px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 4px);
    left: 1px;
    width: 90px;
    height: 17px;
    background-image: url(../assets/coalmarch-by-workwave-logo.svg);
    opacity: 0.7;
  }
}

// ∫mh∫
