.ctm-number-wrap {
  display: none;
  padding: 25px 0 15px 0;
  text-align: right;

  @include breakpoint($small) {
    display: block;
  }

  .field--name-field-subheading,
  .field--name-field-subheading-tag {
    margin: 0;
    font-size: 2rem;
  }

  .ctm-target-number-link {
    color: $base-font-color;
    text-decoration: none;
  }

  .field--name-field-ctm-target-numbers,
  .field--name-field-ctm-numbers {
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    .field--name-field-heading {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
    .field--name-field-phone-number {
      font-size: 1.8rem;
    }
    .field--name-field-phone-number,
    .field--name-field-heading {
      margin: 0;
      font-weight: 700;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    > .field__item {
      + .field__item {
        margin-left: 20px;
        padding-left: 20px;
        position: relative;
        &:before {
          content: " ";
          width: 1.5px;
          height: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-left: 1.5px solid;
        }
      }
    }

    .paragraph--type--ctm-target-number {
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  header.page-header .phone-number-count-1 & {
    .field--name-field-subheading,
    .field--name-field-subheading-tag {
      margin: 0;
      font-size: 1.8rem;
    }
    .field--name-field-ctm-target-numbers,
    .field--name-field-ctm-numbers {
      margin-top: 0;
      .field--name-field-heading {
        text-transform: none;
      }
      .field--name-field-phone-number,
      .field--name-field-heading {
        text-align: right;
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 800;
        @include breakpoint($large) {
          font-size: 3.6rem;
          line-height: 4.8rem;
        }
      }
      .paragraph--type--ctm-target-number {
        display: flex;
        align-content: center;
        flex-direction: row;
        justify-content: flex-end;

        .field--name-field-heading {
          margin-right: 10px;
        }
      }
    }
  }

  header.page-header .phone-number-count-1.block-ctm-header-block-simplified & {
    padding: 0 5px;

    .field--name-field-ctm-target-numbers,
    .field--name-field-ctm-numbers {
      display: flex;

      @include breakpoint($max-large) {
        .paragraph--type--ctm-target-number {
          flex-direction: column;
        }
      }

      .field--name-field-heading {
        margin-right: 0;
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 700;
        white-space: nowrap;

        @include icon-before(mobile) {
          font-size: 1.8rem;
          line-height: 1;
          margin-right: 5px;
        }
      }

      .field--name-field-phone-number {
        margin-left: 5px;
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 700;
      }
    }
  }
}