.block--type-ctm-contact {
}

.ctm-contact-wrap {
  display: none;
  padding: 25px 0 15px 0;
  text-align: right;

  @include breakpoint($small) {
    display: block;
  }

  .field--name-field-subheading,
  .field--name-field-subheading-tag {
    margin: 0;
    font-size: 1.8rem;

    @include breakpoint($large) {
      font-size: 2.4rem;
    }
  }

  .field--name-field-phone-number {
    margin: 0;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 800;

    @include breakpoint($large) {
      font-size: 3.6rem;
      line-height: 4.8rem;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

// careers
.page-node-type-job-post,
.page-node-type-career-page {
  .block--type-ctm-contact {
    .ctm-contact-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px 20px 0;
        .field--name-field-label-tag {
            display: none;
        }
        .field--name-field-subheading-tag {
            font-size: 1.6rem;
            font-weight: 600;
            margin-right: 5px;
            color: palette(black);
        }
        .field--name-field-phone-number {
            font-size: 1.6rem;
            a {
                font-size: 1.6rem;
                color: palette(black);
                transition: .3s;
                &:hover {
                    color: palette(black);
                }
            }
        }
        @include breakpoint($small) {
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;
        }
    }
    @include breakpoint($small) {
        width: auto;
    }
  }
}
