.layout__region .block-inline-blockhero,
.layout__region .block--type-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  @include breakpoint($xsmall) {
    min-height: 200px;
  }

  body.front & {
    min-height: 400px;

    .hero-wrap {
      .hero-copy {
        padding-top: 90px;
        padding-bottom: 70px;
      }
    }
  }

  &.mobile-image {
    .field--name-field-image-fg-hero {
      display: none;
    }

    @include breakpoint($max-medium) {
      .hero-media {
        margin: 0 auto 30px auto;
      }
    }

    @include breakpoint($medium) {
      .field--name-field-image-fg-hero {
        display: block;
      }
      .field--name-field-image-mobile {
        display: none;
      }
    }
  }

  .hero-wrap {
    position: relative;
    @include flexbox;
    z-index: 2;

    @include breakpoint($max-medium) {
      flex-direction: column;
    }

    .hero-copy {
      @include flexbox;
      flex-direction: column;
      justify-content: center;
      max-width: 900px;
      padding-top: 40px;
      padding-bottom: 30px;

      @include breakpoint($xsmall) {
        padding-bottom: 20px;
      }
    
      @include breakpoint($small) {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    }

    .hero-media {
      @include flexbox;
      align-items: flex-end;
      justify-content: center;

      @include breakpoint($medium) {
        width: calc(50% - 30px);
      }
    }
  }

  @include breakpoint($max-medium) {
    text-align: center;

    .field--name-field-label::after,
    .field--name-field-label-tag::after {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include breakpoint($medium) {
    .path-frontpage & {
      min-height: 400px;
    }

    &.left-align,
    &.right-align {
      .hero-wrap {
        //@extend %container;
        width: 100%;
        max-width: 100%;
        > * {
          max-width: $container/2;
        }
      }
      &.hero-copy-width-55 {
        .hero-wrap > * {
          max-width: $container/1.82;
        }
      }
      &.hero-copy-width-60 {
        .hero-wrap > * {
          max-width: $container/1.70;
        }
      }
      &.hero-copy-width-65 {
        .hero-wrap > * {
          max-width: $container/1.58;
        }
      }
      &.hero-copy-width-70 {
        .hero-wrap > * {
          max-width: $container/1.45;
        }
      }
      &.hero-copy-width-75 {
        .hero-wrap > * {
          max-width: $container/1.35;
        }
      }
    }
    &.right-align {
      .hero-wrap {
        .hero-copy {
          margin-left: auto;
        }
      }
    }
  }

  @include breakpoint($large) {
    &.left-align,
    &.right-align {
      .hero-wrap {
        max-width: calc(#{$container} - (#{$margin} * 2));
      }
    }
  }

  @extend %gradient-backgrounds;
  @extend %block-background-image;

  .field--name-field-background-image-size {
    display: none;
  }

  .field--name-field-heading {
    //font-size: 3rem;
    //font-weight: 700;
    //line-height: 1.15;

    @include breakpoint($small) {
      font-size: 4.4rem;
      font-weight: 800;
      line-height: 1.125;
    }
    @include breakpoint($large) {
      font-size: 5.6rem;
    }
  }
  .field--name-field-subheading,
  .field--name-field-subheading-tag {
    font-weight: 600;
    line-height: 1.4;

    @include breakpoint($max-smedium) {
      font-size: 1.8rem;
    }
  }
  .field--name-field-opacity,
  .field--name-field-gradient-range {
    display: none;
  }
}

.block--type-hero-learning-center,
.block-inline-blockhero-learning-center {
  min-height: auto;
  padding: 60px 30px 40px;
  text-align: center;
  border-bottom: none;

  .preheading {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .field--name-field-heading {
    @include breakpoint($medium) {
      font-size: 4.2rem;
    }
    @include breakpoint($large) {
      font-size: 4.2rem;
    }
  }

  .hero-icon {
    width: 85px;
    margin: 0 auto;
  }

  .node--type-concern.node--view-mode-token,
  .node--type-issue.node--view-mode-token {
    margin: 0 0 -75px;

    [class*="field--name-field-icon"] {
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
    }

    .field--name-title-text {
      display: none;
    }
  }

  // Masthead 404
  &.block-masthead-404,
  &.block-masthead-403 {
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    .field--name-field-label,
    .field--name-field-label-tag {
      margin-bottom: -50px;
      color: rgba(palette(white), 0.2) !important;
      font-size: 7rem;
      font-weight: 800;
      line-height: 1;
      &::after {
        content: none;
      }

      @include breakpoint($smedium) {
        font-size: 14rem;
      }
    }
  }
}

// concern page
.node--type-concern {
  #masthead {
    z-index: 2;
  }
}

.block--type-hero-media-gallery,
.block-inline-blockhero-media-gallery {
  min-height: auto;
  text-align: center;

  .media-gallery-hero-wrap {
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 60px 30px 40px;
    min-height: 250px;

    @include breakpoint($small) {
      padding: 90px 30px 70px;
      min-height: 400px;
      .__body {
        max-width: 1210px;
        margin: 0 auto;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    > div {
      position: relative;
      z-index: 1;
    }

    .hero-desc p {
      font-size: 2rem;
    }
  }
}