.layout__region {
  .block-inline-blockissues,
  .block--type-issues {
    width: auto;
    max-width: $container;
    height: min-content;
    margin: 10px $margin;
    padding: 20px 30px;

    &:first-child {
      margin-top: 20px;
    }
    &:last-child {
      margin-bottom: 20px;
    }

    .issues-wrap {
      .field--name-field-heading {
        @extend %h3;
        font-weight: 700;
      }
      .field--name-title-text,
      .views-field-title {
        margin-bottom: 10px;
        font-weight: 600;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.view-issues {
  .views-field-title {
    a {
      display: block;
      margin: 10px 0;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
