.layout__region {
  .block-inline-blockpackage-features {
    padding: 20px 30px;
  }
}

.view-package-features {
  .item-list {
    ul {
      text-align: center;

      li {
        font-weight: 600;
        @include icon-before(circle-check, 17px) {
          display: inline-block;
          margin-top: -3px;
          margin-left: -20px;
        }
      }
    }

    @include breakpoint($small) {
      ul {
        @include flexbox;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;

        li {
          padding-left: 10px;
          padding-right: 10px;
          margin: 0.25em 20px;
        }
      }
    }
  }
}
