.layout__region {
  .block-inline-blockprofiles,
  .block--type-profiles {
    height: min-content;
    padding: 40px 0 10px;
    @include breakpoint($large) {
      padding: 40px 30px;
    }
  }
}

[class*="view-profiles"] {
  .pager__item {
    border-radius: 50%;
    font-size: 1.4rem;
    width: 28px;
    height: 28px;
    text-align: center;
  }
}

// Teaser and Tertiary View
[class*="view-profiles"].view-mode-teaser,
[class*="view-profiles"].view-mode-tertiary_teaser {
  @extend %viewcolumns;

  .view-content {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: -($margin / 2);
    margin-right: -($margin / 2);

    .views-row {
      margin: 0 ($margin / 2) $margin;
    }
  }

  @include breakpoint($smedium) {
    .view-content {
      margin-left: -$margin;
      margin-right: -$margin;
      .views-row {
        width: 190px;
        margin: 0 $margin $margin;
      }
    }
  }
}

// Secondary Teaser and Quaternary Teaser (List with Bio)
[class*="view-profiles"].view-mode-secondary_teaser,
[class*="view-profiles"].view-mode-quaternary_teaser {
  .view-content {
    margin-top: 30px;
    .views-row {
      margin: 20px;
    }
  }
  @include breakpoint($small) {
    .view-content {
      @include flexbox;
      flex-wrap: wrap;
      .views-row {
        max-width: calc(50% - (#{$margin} * 2));
        flex: 1 1 auto;
      }
    }
  }
}


//Grouped View
[class*="view-profiles"][class*="_grouped"] {
  .view-content {
    justify-content: flex-start;
    margin: 0;

    > h3 {
      width: 100%;
      margin: 0 30px 30px 30px;
      padding: 0 0 10px 0;
      text-align: left;
      font-size: 2.1rem;
      text-transform: uppercase;
      border-bottom: 2px solid #edeff0;
    }
  }
}
