.layout__region {
    .block-inline-blocksection-styles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: -1;

        .section-bg-image {
            width: 100vw;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &[class*="bg-repeat-"] {
            .section-bg-image {
                background-repeat: repeat;
                background-size: auto;
            }
        }

        @extend %gradient-backgrounds;
    }
}

.layout {
    @include breakpoint($container-sm) {
        &.sm-width {
            .block-inline-blocksection-styles {
                margin-left: calc(-50vw + 530px) !important;
            }
        }
    }
    @include breakpoint($container) {
        .block-inline-blocksection-styles {
            margin-left: calc(-50vw + 680px) !important;
        }
    }
    &.full-width {
        .block-inline-blocksection-styles {
            margin-left: 0 !important;
        }
    }
}

$positions: 'top', 'bottom', 'left', 'right', 'center';
@each $position in $positions {
  .background-position-#{$position} {
    .section-bg-image {
        background-position: #{$position};
    }
  }
}
