.layout__region {
  .block-inline-blockservices-no-link,
  .block--type-services-no-link {
    max-width: $container;
    height: min-content;
    margin: 0 auto;

    .services-wrap {
      margin: 30px 0;

      .field--name-field-subheading,
      .field--name-field-subheading-tag {
        margin-bottom: min($margin);
      }

      @include breakpoint($small) {
        margin: 30px;
      }
    }

    [class*="view-services"] {
      > .view-content {
        flex-wrap: wrap;
  
        > .views-row {
          display: inline-flex;
        }
      }
    }
  }
}