.layout__region {
  .block--type-social-media,
  .block-inline-blocksocial-media {

    .field--name-field-social-media {
      margin-bottom: 20px;
    
      .field__item {
        display: inline-block;
        margin-top: 10px;
        margin-right: 20px;
    
        &:last-child {
          margin-right: 0;
        }
      }
      .social-icon {
        font-size: 2.4rem;
        text-decoration: none;
    
        span::before {
          transition: 0.3s;
        }
      }
    
      @include breakpoint($max-medium) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &.social-icon-style-medium {
      .field--name-field-social-media {
      
        .field__item {
          margin-right: 30px;
          
          &:last-child {
            margin-right: 0;
          }
        }
        .social-icon {
          font-size: 3.4rem;
        }
      }
    }
    &.social-icon-style-large {
      .field--name-field-social-media {
      
        .field__item {
          margin-right: 40px;

          &:last-child {
            margin-right: 0;
          }
        }
        .social-icon {
          font-size: 4.8rem;
        }
      }
    }
  }

  .block-inline-blocksocial-media,
  .block-career-social-media {
      padding: ($margin + 10px) $margin $margin $margin;
  }
}