.layout__region {
  .block-solution-finder,
  .block-solution-finder-solution-finder {
    padding: $margin;

    @include breakpoint($small) {
      padding: ($margin * 1.5) $margin;
    }

    .heading,
    .heading p {
      max-width: 1000px;
      margin: 0 auto 15px auto;
      font-size: 1.8rem;
      text-align: center;

      @include breakpoint($smedium) {
        font-size: 2.4rem;
      }
    }
  }
}

.solution-finder-concerns {
  text-align: center;

  @include breakpoint($max-xsmall) {
    margin: 0 -15px;
  }

  ul.concern-list {
    @include flexbox;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 15px auto;
    padding: 0;
    max-width: 650px;
  }

  li.concern-list-item {
    height: 45px;
    margin: 0 10px 15px 10px;
    padding: 0;
    font-size: 1.7rem;
    border-radius: 25px;
    transform: scale(1.01);
    transition: transform $duration, background $duration;

    &.hide-default {
      height: 0;
      min-height: 0;
      opacity: 0;
      margin: 0 10px 0 10px;
      transition: min-height $duration, opacity $duration;
    }

    .node--view-mode-solution-finder {
      cursor: pointer;
    }

    .node--type-concern,
    .node--type-issue {
      width: 110px;
      height: 45px;
      pointer-events: cursor;

      @include breakpoint(400px) {
        width: 145px;
      }

      @include breakpoint(460px) {
        width: 190px;
      }

      .node__content {
        @include flexbox;
        align-items: center;
      }

      .field--name-field-icon-concern,
      .field--name-field-icon-issue {
        position: absolute;
        display: none;
        top: 4px;
        left: 0%;
        width: 45px;
        height: 45px;
        margin: 0 3px 0 5px;
        padding: 0;
        transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97),
          background-color $duration;

        @include breakpoint(400px) {
          display: block;
        }

        img,
        svg {
          width: 37px;
          height: 37px;
          padding: 4px;
          border-radius: 50%;
          background-color: transparent;
          transition: background-color $duration;

          path {
            transition: fill $duration;
          }
        }
      }
      .field--name-title-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.7rem;
        line-height: 1.1;
        text-align: center;
        transition: margin $duration;

        @include breakpoint(400px) {
          justify-content: flex-start;
          width: 120px;
          margin-left: 50px;
          margin-right: 0;
          text-align: left;
        }

        @include breakpoint($max-xsmall) {
          font-size: 1.4rem;
        }
      }
    }

    &:hover {
      transform: scale(1.05);
    }

    &.checked {
      .node--type-concern,
      .node--type-issue {
        .field--name-field-icon-concern,
        .field--name-field-icon-issue {
          left: calc(100% - 46px);

          @include icon-after(circle-check, 15px) {
            position: absolute;
            top: -3px;
            right: 4px;
            border-radius: 50%;
            background-color: palette(white);
            animation: grow 0.5s ease-in-out;
          }
        }
      }
      .field--name-title-text {
        margin-left: 18px;
      }
    }
  }

  &.more-options {
    .concern-list-item {
      &.hide-default {
        height: auto;
        min-height: 45px;
        margin: 0 10px 15px 10px;
        opacity: 1;
      }
    }
  }

  .form-type-checkbox {
    display: none !important;
  }

  .more-options-button {
    margin-left: 10px;
    margin-right: 10px;
  }

  .submit-button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
