.layout__region {
  .block-inline-blockspecial-offers,
  .block--type-special-offers {
    height: min-content;
    padding: $margin $margin $margin/3;

    @include breakpoint($smedium) {
      padding: $margin;
    }
  }
  .block + .block-inline-blockspecial-offers,
  .block + .block--type-special-offers {
    padding-top: 0px;
  }

  &.layout__region--second .block-inline-blockspecial-offers {
    margin: 10px 0;
    padding-top: 0;
    padding-bottom: 0;
    //padding: 0;

    &:first-child {
      margin-top: 20px;
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.special-offers-wrap {
  text-align: center;

  .field--name-field-label::after,
  .field--name-field-label-tag::after {
    margin-right: auto;
    margin-left: auto;
  }

  .field--name-field-text {
    margin: 0 auto 30px auto;
  }
}

[class*="view-special-offers"] {
  &.view-display-id-block_teaser_3 {
    .view-content {
      .views-row {
        max-width: 315px;
      }
    }
  }
}

//Teaser View
[class*="view-special-offers"] {
  @extend %viewcolumns;
  padding: 5px 0;

  .view-content {
    @include breakpoint($max-smedium) {
      margin-left: 0 !important;
    }

    .views-row {
      width: 100%;
    }
  }

  &[class*="view-display-id-block_service_secondary"] {
    .special-offer-link {
      margin: 0;
    }
  }

  // Front Page Great Deal Banner
  .path-frontpage & .view-content {
    .views-row:first-child,
    .slick__slide:first-child {
      .special-offer-link {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 115px;
          height: 80px;
          background-image: url(../assets/great_deal.png);
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 1;
          pointer-events: none;
        }
      }
    }
  }

  &.view-display-id-all_offers,
  &[class*="block_service_secondary_token"],
  &[class*="block_service_secondary_teaser"] {
    .view-content {
      .views-row:first-child {
        .special-offer-link {
          &::before {
            content: none;
          }
        }
      }
    }
  }
}
