body.toc-is-active {
  .layout-container {
    overflow: initial; // Allows for sticky elements to work
  }
}

.block-tocbot-block {
  padding: 15px 30px;

  @include breakpoint($small) {
    position: sticky !important;
    top: 0;
    padding-top: 30px;
  }

  .toc-heading {
    padding-bottom: 14px;
    margin-bottom: 14px;
    font-size: 2.1rem;
    font-weight: 700;
    border-bottom: solid 1px palette(grey, lightest);
  }

  .toc-link {
    position: relative;
    display: block;
    margin: 8px 0;
    font-size: 1.7rem;

    &::before {
      left: -15px;
      height: calc(100% - 8px);
      max-height: initial;
      margin-top: 6px;
    }

    &.is-active-link {
      color: var(--color-primary);

      &::before {
        background-color: var(--color-primary);;
      }
    }
  }
}