.block--type-zip-code-finder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 10px;
    .field--name-field-heading {
        font-size: 2.1rem;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .field--type-text-long {
        display: none;
        p {
            line-height: 1.4;
        }
        p:first-child {
            font-weight: bold;
            margin-bottom: 0;
        }
        a {
            color: var(--color-dark);
            text-decoration: none;
            &:hover {
                color: palette(black);
            }
        }
    }
    .field--name-field-zip-code-finder-form {
        .zipcode-finder-find-zipcode {
            display: flex;
            align-items: center;
            .form-type-textfield {
                max-width: 220px;
                border: 2px solid #d5d5d5;
                border-right: 0;
                .form-text {
                    margin-bottom: 0;
                }
            }
            .form-submit {
                margin-bottom: 0;
                padding: 12px 32px;
                border-left: 0;
                min-width: auto;
            }
        }
    }

    @include breakpoint($small) {
        flex-direction: row;
        padding: 20px 30px;
        .text-wrap {
            display: flex;
            flex-direction: column;
        }
        .field--name-field-heading {
            max-width: 220px;
            margin-bottom: 10px;
        }
        .field--type-text-long {
            display: block;
        }
    }
    @include breakpoint($medium) {
        .text-wrap {
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        .field--name-field-heading {
            max-width: 210px;
            margin-bottom: 0;
        }
        .field--type-text-long {
            margin: 0 auto;
        }
        .field--name-field-zip-code-finder-form {
            .zipcode-finder-find-zipcode {
                .form-type-textfield {
                    max-width: 100%;
                }
            }
        }
    }
}


// shared styles for header utility and mobile zip finder on main site
.mobile-header-menu nav.menu--utility-menu,
header.page-header {
    .block--type-zip-code-finder {
        display: none;
        position: absolute;
        background-color: palette(white);
        box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.24);
        transition: all .3s;
        &:after {
            content: "";
            bottom: 100%;
            left: 60px;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border: solid transparent;
            border-bottom-color: palette(white);
            border-width: 12px;
            transform: scaleX(1.3);
        }
        .field--name-field-heading {
            color: palette(black);
            max-width: 210px;
            text-align: center;
        }
        .field--name-field-zip-code-finder-form {
            .zipcode-finder-find-zipcode {
                .form-type-textfield {
                    max-width: 100%;
                    .form-text {
                        margin-bottom: 0;
                    }
                }
                .form-submit {
                    margin-bottom: 0;
                    padding: 8px 32px;
                    border: 2px solid #d5d5d5;
                    border-left: 0;
                }
            }
        }

        .divider {
            font-weight: 600;
            margin-bottom: 10px;
            padding: 0 15px;
            color: palette(black);
            background-color: palette(white);
            position: relative;
            &:before {
                content: "";
                height: 2px;
                width: 300px;
                background-color: var(--color-light);
                position: absolute;
                left: -125px;
                right: 0;
                bottom: 10px;
                z-index: -1;
            }
        }

        .field--name-field-text p {
            color: palette(black);
            text-align: center;
            a {
                color: var(--color-dark);
                &:hover {
                    color: palette(black);
                }
            }
        }

        .field--name-field-view-all {
            margin-top: 20px;
            a {
                font-weight: 600;
                text-decoration: none;
                color: var(--color-dark);
                background-color: transparent;
                transition: .3s;
                &:hover {
                    color: palette(black);
                }
            }
        }

        &.show {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            padding: 30px;
            animation: fadeIn .5s;
            z-index: 99;
        }
    }
}

// styles for mobile utility zip finder only
.mobile-header-menu nav.menu--utility-menu {
    .block--type-zip-code-finder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: palette(white);
        top: -560px;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 770px 30px 800px;
        width: 100%;
        height: 100%;
        box-shadow: none;
        transition: 1s;
        z-index: 99;
        &:before {
            content: "";
            position: absolute;
            top: 625px;
            width: 100%;
            height: 5px;
            background-color: var(--color-dark);
        }
        &:after {
            display: none;
        }
        .close-button {
            padding: 20px 20px 10px;
            text-align: right;
            font-size: 1.8rem;
            font-weight: 700;;
            position: absolute;
            top: 565px;
            right: 0;
            cursor: pointer;

            @include icon-after(close, 1.6rem) {
                display: inline-block;
                margin-top: -3px;
                font-weight: 800;
            }
            &:after {
                color: var(--color-dark);
            }
        }
        .field--name-field-view-all {
            a {
                padding: 15px 30px;
                color: palette(white);
                background-color: var(--color-dark);
                &:hover {
                    color: palette(white);
                    background-color: var(--color-dark);
                }
            }
        }
        &.slide-in {
            animation: slideIn .5s forwards;
        }
        &.slide-out {
            animation: slideOut .5s forwards;
        }

        // when logged in
        .user-logged-in & {
            top: -1165px;
        }
    }
}

// styles for tablet and desktop utility zip finder only
@include breakpoint($small) {
    header.page-header {
        .block--type-zip-code-finder {
            top: 47px;
            .close-button {
                position: absolute;
                top: 12px;
                right: 2px;
                display: block;
                width: 30px;
                height: 30px;
                font-size: 0;

                @include icon-after(close, 1.6rem) {
                    display: inline-block;
                    margin-top: -3px;
                    font-weight: 800;
                    color: palette(white);
                }
            }
        }
    }
}

// animations
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1000px);
    }
}
