#backtotop {
  display: inline-block;
  background-color: var(--color-dark);
  width: 50px;
  height: 40px;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 55px;
  right: 25px;
  cursor: pointer;
  border: none;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  @include icon-after(chevron-up) {
    margin: -9px 0 0 0;
    font-size: 2em;
    color: palette(white);
  }

  &:hover {
    background-color: palette(black);
  }

  @include breakpoint($small) {
    bottom: 25px;
  }
}
